# How to...create Matching and No-Matching Tables in SqlLite database

In [1]:
# Sets up the location of the api relative to this notebook 
import sys
sys.path.append('../../../')

In [2]:
# Import the module for connection to a sqllite database
from esg_matching.engine.connectors.sql_lite import SqlLiteConnector

In [3]:
# Import the modules for file management
from esg_matching.file_reader.file import File
from esg_matching.file_reader.csv_reader import FileReaderCsv

In [4]:
# Import the modules for the etl processing: reading, transformation and loading data to a database
from esg_matching.processing.etl import EtlProcessing

## 1. Database setup

In [5]:
# Localization of the database to be created in relation to this jupyter notebook
# The database will be created in the /data/dabase folder, under the project main folder
path_db = '../../../tests/data/howto/sqlite/test_esg_matching.db'

In [6]:
# The database connector is represented by the class SqlLiteConnector 
db_conn = SqlLiteConnector()

In [7]:
# The connect() method of the SqlLiteConnector is used to stablish a connection with the database if it exists, 
# or to create a new one. The property path_db defines the location and name of the database.
# The  property show_sql_statement indicates if the SQL statements are echoed (or printed) in the default output channel.
db_conn.path_db = path_db
db_conn.show_sql_statement = True
db_conn.connect()

In [8]:
# Check if the connection was stablished
db_conn.is_connected()

True

## 2. Create ETL object

In [9]:
# Create an ETL process object
etl_proc_obj = EtlProcessing(db_conn)

## 3. Create Matching from file settings

In [10]:
# Settings for Macthing Table
match_settings = '../../../tests/data/howto/sqlite/test_matching_sqlite.json'
match_settings

'../../../tests/data/howto/sqlite/test_matching_sqlite.json'

In [11]:
# Create a file object
file_match = File(match_settings)

In [12]:
# Call the create_data_source_from_settings() method by passing the File
db_matching = etl_proc_obj.create_data_source(file_match)

2022-07-17 16:24:22,215 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("esg_matching")
2022-07-17 16:24:22,219 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,228 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("esg_matching")
2022-07-17 16:24:22,229 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,238 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-17 16:24:22,239 INFO sqlalchemy.engine.Engine [raw sql] ('esg_matching',)
2022-07-17 16:24:22,243 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("esg_matching")
2022-07-17 16:24:22,244 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,246 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("esg_matching")
2022-07-17 16:24:22,248 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,254 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-17 16:24:22,256 INFO sqlalchemy.engine.Engine [raw sql] ('esg_matching',)
2022-07-17 16:24:22,264 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_matching")
2022-07-17 16:24:22,265 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,268 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_matching")
2022-07-17 16:24:22,276 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,277 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_matching")
2022-07-17 16:24:22,279 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,281 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_matching")
2022-07-17 16:24:22,282 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,284 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-17 16:24:22,285 INFO sqlalchemy.engine.Engine [raw sql] ('esg_matching',)
2022-07-17 16:24:22,293 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-17 16:24:22,294 INFO sqlalchemy.engine.Engine
DROP TABLE esg_matching
2022-07-17 16:24:22,296 INFO sqlalchemy.engine.Engine [no key 0.00169s] ()
2022-07-17 16:24:22,325 INFO sqlalchemy.engine.Engine COMMIT
[Column('timestamp', DateTime(), table=None, server_default=DefaultClause(<sqlalchemy.sql.functions.now at 0x147da9c46d0; now>, for_update=False)), Column('matching_id', Integer(), table=None, primary_key=True, nullable=False), Column('ref_name', String(), table=None), Column('tgt_name', String(), table=None), Column('matching_type', String(), table=None), Column('matching_scope', String(), table=None), Column('matching_rule', String(), table=None), Column('ref_id', Integer(), table=None), Column('ref_company', String(), table=None), Column('ref_country', String(), table=None), Column('tgt_id', Integer(), table=None), Column('tgt_company', String(), table=None), Column('tgt_country', String(), table=None), Column('isin', String(), table=None), Column('lei', String(), table=None), Column('sedol', String(), table=None)]
schema=None
2022-07-17 16:24:22,332 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-17 16:24:22,337 INFO sqlalchemy.engine.Engine
CREATE TABLE esg_matching (
	timestamp DATETIME DEFAULT (CURRENT_TIMESTAMP),
	matching_id INTEGER NOT NULL,
	ref_name VARCHAR,
	tgt_name VARCHAR,
	matching_type VARCHAR,
	matching_scope VARCHAR,
	matching_rule VARCHAR,
	ref_id INTEGER,
	ref_company VARCHAR,
	ref_country VARCHAR,
	tgt_id INTEGER,
	tgt_company VARCHAR,
	tgt_country VARCHAR,
	isin VARCHAR,
	lei VARCHAR,
	sedol VARCHAR,
	PRIMARY KEY (matching_id)
)


2022-07-17 16:24:22,339 INFO sqlalchemy.engine.Engine [no key 0.00203s] ()
2022-07-17 16:24:22,361 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
# Retrieve the attribute names of the database table
db_matching.get_attribute_names()

['timestamp',
 'matching_id',
 'ref_name',
 'tgt_name',
 'matching_type',
 'matching_scope',
 'matching_rule',
 'ref_id',
 'ref_company',
 'ref_country',
 'tgt_id',
 'tgt_company',
 'tgt_country',
 'isin',
 'lei',
 'sedol']

## 4. Create No-Matching from file settings

In [14]:
# Settings for No-Macthing Table
no_match_settings = '../../../tests/data/howto/sqlite/test_no_matching_sqlite.json'
no_match_settings

'../../../tests/data/howto/sqlite/test_no_matching_sqlite.json'

In [15]:
# Create a file object
file_no_match = File(no_match_settings)

In [16]:
# Call the create_data_source_from_settings() method by passing the File
db_no_matching = etl_proc_obj.create_data_source(file_no_match)

2022-07-17 16:24:22,472 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("esg_no_matching")
2022-07-17 16:24:22,473 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,484 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("esg_no_matching")
2022-07-17 16:24:22,485 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,489 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-17 16:24:22,493 INFO sqlalchemy.engine.Engine [raw sql] ('esg_no_matching',)
2022-07-17 16:24:22,495 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("esg_no_matching")
2022-07-17 16:24:22,496 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,500 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("esg_no_matching")
2022-07-17 16:24:22,502 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,505 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-17 16:24:22,506 INFO sqlalchemy.engine.Engine [raw sql] ('esg_no_matching',)
2022-07-17 16:24:22,512 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_no_matching")
2022-07-17 16:24:22,513 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,515 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_no_matching")
2022-07-17 16:24:22,516 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,518 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_no_matching")
2022-07-17 16:24:22,521 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,523 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_no_matching")
2022-07-17 16:24:22,527 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-17 16:24:22,529 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-17 16:24:22,531 INFO sqlalchemy.engine.Engine [raw sql] ('esg_no_matching',)
2022-07-17 16:24:22,534 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-17 16:24:22,535 INFO sqlalchemy.engine.Engine
DROP TABLE esg_no_matching
2022-07-17 16:24:22,536 INFO sqlalchemy.engine.Engine [no key 0.00093s] ()
2022-07-17 16:24:22,567 INFO sqlalchemy.engine.Engine COMMIT
[Column('timestamp', DateTime(), table=None, server_default=DefaultClause(<sqlalchemy.sql.functions.now at 0x147daa60580; now>, for_update=False)), Column('matching_id', Integer(), table=None, primary_key=True, nullable=False), Column('tgt_name', String(), table=None), Column('tgt_id', Integer(), table=None), Column('tgt_company', String(), table=None), Column('tgt_country', String(), table=None), Column('isin', String(), table=None), Column('lei', String(), table=None), Column('sedol', String(), table=None)]
schema=None
2022-07-17 16:24:22,573 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-17 16:24:22,576 INFO sqlalchemy.engine.Engine
CREATE TABLE esg_no_matching (
	timestamp DATETIME DEFAULT (CURRENT_TIMESTAMP),
	matching_id INTEGER NOT NULL,
	tgt_name VARCHAR,
	tgt_id INTEGER,
	tgt_company VARCHAR,
	tgt_country VARCHAR,
	isin VARCHAR,
	lei VARCHAR,
	sedol VARCHAR,
	PRIMARY KEY (matching_id)
)


2022-07-17 16:24:22,578 INFO sqlalchemy.engine.Engine [no key 0.00134s] ()
2022-07-17 16:24:22,601 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
# Retrieve the attribute names of the database table
db_no_matching.get_attribute_names()

['timestamp',
 'matching_id',
 'tgt_name',
 'tgt_id',
 'tgt_company',
 'tgt_country',
 'isin',
 'lei',
 'sedol']

## 5. Disconnect

In [18]:
db_conn.disconnect()

In [19]:
db_conn.is_connected()

False