# How to...perform exact matching on Oracle database

In [1]:
# Sets up the location of the api relative to this notebook 
import sys
sys.path.append('../../../')

In [2]:
# Import the module for connection to a sqllite database
from esg_matching.engine.connectors.oracle import OracleConnector

In [3]:
# Import the modules for file management
from esg_matching.file_reader.file import File
from esg_matching.file_reader.csv_reader import FileReaderCsv

In [4]:
# Import the modules for the etl processing: reading, transformation and loading data to a database
from esg_matching.processing.etl import EtlProcessing

## 1. Database setup

In [5]:
# The database connector is represented by the class OracleConnector 
db_conn = OracleConnector()

In [6]:
# Setting upt the properties
db_conn.client_driver_dir ='C:\oracle\instantclient_21_3'
db_conn.username ='admin'
db_conn.user_password =''
db_conn.host_url =''
db_conn.port_number ='1521'
db_conn.service_name ='DATABASE'
db_conn.show_sql_statement = True

In [7]:
# The connect() method of the OracleConnector is used to stablish a connection with the database. 
db_conn.connect()

In [8]:
# Check if the connection was stablished
db_conn.is_connected()

True

## 2. Load the data into database from csv files

In [9]:
# Create an ETL process object
etl_proc_obj = EtlProcessing(db_conn)

In [10]:
# Crete a file reader object for csv files
csv_reader_obj = FileReaderCsv()

In [11]:
# Referential Data Source
ref_settings = '../../../tests/data/howto/oracle/test_referential1_oracle.json'
ref_obj = File(ref_settings)

In [12]:
# Load data from REFERENCIAL
db_ref = etl_proc_obj.load_file_to_db(ref_obj, csv_reader_obj)

2022-01-28 09:29:01,473 INFO sqlalchemy.engine.Engine select sys_context( 'userenv', 'current_schema' ) from dual
2022-01-28 09:29:01,480 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-28 09:29:01,602 INFO sqlalchemy.engine.Engine SELECT value FROM v$parameter WHERE name = 'compatible'
2022-01-28 09:29:01,603 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-28 09:29:01,647 INFO sqlalchemy.engine.Engine select value from nls_session_parameters where parameter = 'NLS_NUMERIC_CHARACTERS'
2022-01-28 09:29:01,649 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-28 09:29:01,773 INFO sqlalchemy.engine.Engine SELECT table_name FROM all_tables WHERE table_name = :name AND owner = :schema_name
2022-01-28 09:29:01,775 INFO sqlalchemy.engine.Engine [generated in 0.00214s] {'name': 'ESG_MATCH_REF', 'schema_name': 'ADMIN'}
2022-01-28 09:29:01,897 INFO sqlalchemy.engine.Engine SELECT table_name, compression, compress_for FROM ALL_TABLES WHERE table_name = :table_name AND owner = :owner
2022-01-28 09:29:01,897 INFO sqlalchemy.engine.Engine [generated in 0.00083s] {'table_name': 'ESG_MATCH_REF', 'owner': 'ADMIN'}
2022-01-28 09:29:01,937 INFO sqlalchemy.engine.Engine
            SELECT
                col.column_name,
                col.data_type,
                col.char_length,
                col.data_precision,
                col.data_scale,
                col.nullable,
                col.data_default,
                com.comments,
                col.virtual_column,
                                col.default_on_null,
                (
                    SELECT id.generation_type || ',' || id.IDENTITY_OPTIONS
                    FROM ALL_TAB_IDENTITY_COLS id
                    WHERE col.table_name = id.table_name
                    AND col.column_name = id.column_name
                    AND col.owner = id.owner
                ) AS identity_options
            FROM all_tab_cols col
            LEFT JOIN all_col_comments com
            ON col.table_name = com.table_name
            AND col.column_name = com.column_name
            AND col.owner = com.owner
            WHERE col.table_name = :table_name
            AND col.hidden_column = 'NO'
         AND col.owner = :owner  ORDER BY col.column_id
2022-01-28 09:29:01,938 INFO sqlalchemy.engine.Engine [generated in 0.00068s] {'table_name': 'ESG_MATCH_REF', 'owner': 'ADMIN'}
2022-01-28 09:29:02,020 INFO sqlalchemy.engine.Engine SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position
2022-01-28 09:29:02,020 INFO sqlalchemy.engine.Engine [generated in 0.00080s] {'table_name': 'ESG_MATCH_REF', 'owner': 'ADMIN'}
2022-01-28 09:29:02,101 INFO sqlalchemy.engine.Engine SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position
2022-01-28 09:29:02,101 INFO sqlalchemy.engine.Engine [generated in 0.00087s] {'table_name': 'ESG_MATCH_REF', 'schema': 'ADMIN'}
2022-01-28 09:29:02,143 INFO sqlalchemy.engine.Engine SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position
2022-01-28 09:29:02,144 INFO sqlalchemy.engine.Engine [cached since 0.04311s ago] {'table_name': 'ESG_MATCH_REF', 'schema': 'ADMIN'}
2022-01-28 09:29:02,183 INFO sqlalchemy.engine.Engine SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position
2022-01-28 09:29:02,184 INFO sqlalchemy.engine.Engine [cached since 0.1647s ago] {'table_name': 'ESG_MATCH_REF', 'owner': 'ADMIN'}
2022-01-28 09:29:02,264 INFO sqlalchemy.engine.Engine
            SELECT comments
            FROM all_tab_comments
            WHERE table_name = :table_name AND owner = :schema_name

2022-01-28 09:29:02,266 INFO sqlalchemy.engine.Engine [generated in 0.00248s] {'table_name': 'ESG_MATCH_REF', 'schema_name': 'ADMIN'}
2022-01-28 09:29:02,349 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:02,350 INFO sqlalchemy.engine.Engine
DROP TABLE "ESG_MATCH_REF"
2022-01-28 09:29:02,351 INFO sqlalchemy.engine.Engine [no key 0.00080s] {}
2022-01-28 09:29:02,425 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:02,504 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:02,505 INFO sqlalchemy.engine.Engine
CREATE TABLE "ESG_MATCH_REF" (
	"UNIQUE_ID" NUMBER NOT NULL,
	"ISIN" VARCHAR2(12 CHAR),
	"COMPANY" VARCHAR2(255 CHAR),
	"COUNTRY" VARCHAR2(255 CHAR),
	PRIMARY KEY ("UNIQUE_ID")
)


2022-01-28 09:29:02,506 INFO sqlalchemy.engine.Engine [no key 0.00088s] {}
2022-01-28 09:29:02,561 INFO sqlalchemy.engine.Engine COMMIT
../../../tests/data/test_referential1.csv
2022-01-28 09:29:02,646 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_REF" ("UNIQUE_ID", "ISIN", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, :COMPANY, :COUNTRY)
2022-01-28 09:29:02,648 INFO sqlalchemy.engine.Engine [generated in 0.00201s] {'UNIQUE_ID': 1.0, 'ISIN': 'SK1120005824', 'COMPANY': 'CENTRAL PERK', 'COUNTRY': 'SK'}
2022-01-28 09:29:02,692 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:02,773 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_REF" ("UNIQUE_ID", "ISIN", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, NULL, :COMPANY, :COUNTRY)
2022-01-28 09:29:02,774 INFO sqlalchemy.engine.Engine [generated in 0.00080s] {'UNIQUE_ID': 2.0, 'COMPANY': 'HONEYDUKES', 'COUNTRY': 'UNITED STATES OF AMERICA'}
2022-01-28 09:29:02,814 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:02,894 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_REF" ("UNIQUE_ID", "ISIN", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, NULL, :COMPANY, :COUNTRY)
2022-01-28 09:29:02,895 INFO sqlalchemy.engine.Engine [cached since 0.1217s ago] {'UNIQUE_ID': 3.0, 'COMPANY': 'STARCOURT MALL', 'COUNTRY': 'AUSTRIA'}
2022-01-28 09:29:02,935 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:03,013 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_REF" ("UNIQUE_ID", "ISIN", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, :COMPANY, :COUNTRY)
2022-01-28 09:29:03,014 INFO sqlalchemy.engine.Engine [cached since 0.3679s ago] {'UNIQUE_ID': 4.0, 'ISIN': 'GB00B1YW4409', 'COMPANY': 'STERLING COOPER', 'COUNTRY': 'GBR'}
2022-01-28 09:29:03,057 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:03,135 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_REF" ("UNIQUE_ID", "ISIN", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, :COMPANY, :COUNTRY)
2022-01-28 09:29:03,135 INFO sqlalchemy.engine.Engine [cached since 0.4896s ago] {'UNIQUE_ID': 5.0, 'ISIN': 'CH0012221716', 'COMPANY': 'Bluth company', 'COUNTRY': 'CHE'}
2022-01-28 09:29:03,176 INFO sqlalchemy.engine.Engine COMMIT

2022-01-28 09:29:03,254 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_REF" ("UNIQUE_ID", "ISIN", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, :COMPANY, :COUNTRY)
2022-01-28 09:29:03,254 INFO sqlalchemy.engine.Engine [cached since 0.6083s ago] {'UNIQUE_ID': 6.0, 'ISIN': 'US0200021014', 'COMPANY': 'InGen', 'COUNTRY': 'usa'}
2022-01-28 09:29:03,295 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:03,374 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_REF" ("UNIQUE_ID", "ISIN", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, :COMPANY, :COUNTRY)
2022-01-28 09:29:03,376 INFO sqlalchemy.engine.Engine [cached since 0.7303s ago] {'UNIQUE_ID': 7.0, 'ISIN': 'US0231351067', 'COMPANY': 'Stark Industries', 'COUNTRY': 'us'}
2022-01-28 09:29:03,418 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:03,496 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_REF" ("UNIQUE_ID", "ISIN", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, :COMPANY, :COUNTRY)
2022-01-28 09:29:03,497 INFO sqlalchemy.engine.Engine [cached since 0.8507s ago] {'UNIQUE_ID': 8.0, 'ISIN': 'US0126531013', 'COMPANY': 'SPECTRE', 'COUNTRY': 'USA'}
2022-01-28 09:29:03,539 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:03,618 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_REF" ("UNIQUE_ID", "ISIN", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, :COMPANY, :COUNTRY)
2022-01-28 09:29:03,619 INFO sqlalchemy.engine.Engine [cached since 0.9736s ago] {'UNIQUE_ID': 9.0, 'ISIN': 'US0126531013', 'COMPANY': 'SPECTRE 33 SUBSIDIARY', 'COUNTRY': 'USA'}
2022-01-28 09:29:03,662 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
# Target Data Sources
tgt1_settings = '../../../tests/data/howto/oracle/test_target1_oracle.json'
tgt1_obj = File(tgt1_settings)

In [14]:
# Load data from TARGET 1
db_tgt1 = etl_proc_obj.load_file_to_db(tgt1_obj, csv_reader_obj)

2022-01-28 09:29:03,841 INFO sqlalchemy.engine.Engine SELECT table_name FROM all_tables WHERE table_name = :name AND owner = :schema_name
2022-01-28 09:29:03,842 INFO sqlalchemy.engine.Engine [cached since 2.07s ago] {'name': 'ESG_MATCH_TGT1', 'schema_name': 'ADMIN'}
2022-01-28 09:29:03,962 INFO sqlalchemy.engine.Engine SELECT table_name, compression, compress_for FROM ALL_TABLES WHERE table_name = :table_name AND owner = :owner
2022-01-28 09:29:03,964 INFO sqlalchemy.engine.Engine [cached since 2.068s ago] {'table_name': 'ESG_MATCH_TGT1', 'owner': 'ADMIN'}
2022-01-28 09:29:04,007 INFO sqlalchemy.engine.Engine
            SELECT
                col.column_name,
                col.data_type,
                col.char_length,
                col.data_precision,
                col.data_scale,
                col.nullable,
                col.data_default,
                com.comments,
                col.virtual_column,
                                col.default_on_null,
                (
                    SELECT id.generation_type || ',' || id.IDENTITY_OPTIONS
                    FROM ALL_TAB_IDENTITY_COLS id
                    WHERE col.table_name = id.table_name
                    AND col.column_name = id.column_name
                    AND col.owner = id.owner
                ) AS identity_options
            FROM all_tab_cols col
            LEFT JOIN all_col_comments com
            ON col.table_name = com.table_name
            AND col.column_name = com.column_name
            AND col.owner = com.owner
            WHERE col.table_name = :table_name
            AND col.hidden_column = 'NO'
         AND col.owner = :owner  ORDER BY col.column_id
2022-01-28 09:29:04,010 INFO sqlalchemy.engine.Engine [cached since 2.073s ago] {'table_name': 'ESG_MATCH_TGT1', 'owner': 'ADMIN'}
2022-01-28 09:29:04,091 INFO sqlalchemy.engine.Engine SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position
2022-01-28 09:29:04,093 INFO sqlalchemy.engine.Engine [cached since 2.073s ago] {'table_name': 'ESG_MATCH_TGT1', 'owner': 'ADMIN'}
2022-01-28 09:29:04,172 INFO sqlalchemy.engine.Engine SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position
2022-01-28 09:29:04,174 INFO sqlalchemy.engine.Engine [cached since 2.073s ago] {'table_name': 'ESG_MATCH_TGT1', 'schema': 'ADMIN'}
2022-01-28 09:29:04,219 INFO sqlalchemy.engine.Engine SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position
2022-01-28 09:29:04,222 INFO sqlalchemy.engine.Engine [cached since 2.121s ago] {'table_name': 'ESG_MATCH_TGT1', 'schema': 'ADMIN'}
2022-01-28 09:29:04,264 INFO sqlalchemy.engine.Engine SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position
2022-01-28 09:29:04,265 INFO sqlalchemy.engine.Engine [cached since 2.245s ago] {'table_name': 'ESG_MATCH_TGT1', 'owner': 'ADMIN'}
2022-01-28 09:29:04,345 INFO sqlalchemy.engine.Engine
            SELECT comments
            FROM all_tab_comments
            WHERE table_name = :table_name AND owner = :schema_name

2022-01-28 09:29:04,347 INFO sqlalchemy.engine.Engine [cached since 2.084s ago] {'table_name': 'ESG_MATCH_TGT1', 'schema_name': 'ADMIN'}
2022-01-28 09:29:04,429 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:04,431 INFO sqlalchemy.engine.Engine
DROP TABLE "ESG_MATCH_TGT1"
2022-01-28 09:29:04,432 INFO sqlalchemy.engine.Engine [no key 0.00091s] {}
2022-01-28 09:29:04,498 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:04,576 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:04,577 INFO sqlalchemy.engine.Engine
CREATE TABLE "ESG_MATCH_TGT1" (
	"UNIQUE_ID" NUMBER NOT NULL,
	"ISIN" VARCHAR2(12 CHAR),
	"LEI" VARCHAR2(20 CHAR),
	"COMPANY" VARCHAR2(255 CHAR),
	"COUNTRY" VARCHAR2(255 CHAR),
	PRIMARY KEY ("UNIQUE_ID")
)


2022-01-28 09:29:04,578 INFO sqlalchemy.engine.Engine [no key 0.00101s] {}
2022-01-28 09:29:04,633 INFO sqlalchemy.engine.Engine COMMIT
../../../tests/data/test_target1.csv
2022-01-28 09:29:04,716 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT1" ("UNIQUE_ID", "ISIN", "LEI", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, :LEI, :COMPANY, :COUNTRY)
2022-01-28 09:29:04,718 INFO sqlalchemy.engine.Engine [generated in 0.00238s] {'UNIQUE_ID': 1.0, 'ISIN': 'SK1120005824', 'LEI': '097900BHK10000084115', 'COMPANY': 'CENTRAL PERK AND SONS', 'COUNTRY': 'DE'}
2022-01-28 09:29:04,763 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:04,842 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT1" ("UNIQUE_ID", "ISIN", "LEI", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, :LEI, :COMPANY, :COUNTRY)
2022-01-28 09:29:04,842 INFO sqlalchemy.engine.Engine [cached since 0.127s ago] {'UNIQUE_ID': 2.0, 'ISIN': 'DE0005545503', 'LEI': '5299003VKVDCUPSS5X23', 'COMPANY': 'DUNDER MIFFLINS [12345]', 'COUNTRY': 'de'}
2022-01-28 09:29:04,886 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:04,964 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT1" ("UNIQUE_ID", "ISIN", "LEI", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, NULL, :LEI, :COMPANY, :COUNTRY)
2022-01-28 09:29:04,965 INFO sqlalchemy.engine.Engine [generated in 0.00088s] {'UNIQUE_ID': 3.0, 'LEI': '254900B1P3S786KDAW57', 'COMPANY': 'HONEYDUKES (adm@honeydukes.com)', 'COUNTRY': 'UNITED STATES OF AMERICA'}
2022-01-28 09:29:05,005 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:05,085 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT1" ("UNIQUE_ID", "ISIN", "LEI", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, NULL, :LEI, :COMPANY, :COUNTRY)
2022-01-28 09:29:05,088 INFO sqlalchemy.engine.Engine [cached since 0.1233s ago] {'UNIQUE_ID': 4.0, 'LEI': '529900MVZ2YHFZV3K546', 'COMPANY': 'STARCOURT MALL', 'COUNTRY': 'AUSTRIA'}
2022-01-28 09:29:05,131 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:05,212 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT1" ("UNIQUE_ID", "ISIN", "LEI", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, NULL, :COMPANY, :COUNTRY)
2022-01-28 09:29:05,214 INFO sqlalchemy.engine.Engine [generated in 0.00222s] {'UNIQUE_ID': 5.0, 'ISIN': 'GB00B1YW4409', 'COMPANY': 'Krusty Krab', 'COUNTRY': 'GB'}
2022-01-28 09:29:05,257 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:05,336 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT1" ("UNIQUE_ID", "ISIN", "LEI", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, NULL, :LEI, :COMPANY, :COUNTRY)
2022-01-28 09:29:05,337 INFO sqlalchemy.engine.Engine [cached since 0.3739s ago] {'UNIQUE_ID': 6.0, 'LEI': '3003007MR0P683GYR674', 'COMPANY': 'RR DINER', 'COUNTRY': 'CHINA'}

2022-01-28 09:29:05,382 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:05,462 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT1" ("UNIQUE_ID", "ISIN", "LEI", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, :LEI, :COMPANY, :COUNTRY)
2022-01-28 09:29:05,464 INFO sqlalchemy.engine.Engine [cached since 0.7477s ago] {'UNIQUE_ID': 7.0, 'ISIN': 'US0231351067', 'LEI': 'ZXTILKJKG63JELOEG630', 'COMPANY': 'Starks Industries and Association', 'COUNTRY': 'usa'}
2022-01-28 09:29:05,507 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:05,586 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT1" ("UNIQUE_ID", "ISIN", "LEI", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, :LEI, :COMPANY, :COUNTRY)
2022-01-28 09:29:05,587 INFO sqlalchemy.engine.Engine [cached since 0.8711s ago] {'UNIQUE_ID': 8.0, 'ISIN': 'US0126531013', 'LEI': 'HDBLS2Q6GV1LSKQPBS54', 'COMPANY': 'SPECTRE UNIVERSAL LIMITED', 'COUNTRY': 'USA'}
2022-01-28 09:29:05,628 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
# Target Data Sources
tgt2_settings = '../../../tests/data/howto/oracle/test_target2_oracle.json'
tgt2_obj = File(tgt2_settings)

In [16]:
# Load data from TARGET 1
db_tgt2 = etl_proc_obj.load_file_to_db(tgt2_obj, csv_reader_obj)

2022-01-28 09:29:05,800 INFO sqlalchemy.engine.Engine SELECT table_name FROM all_tables WHERE table_name = :name AND owner = :schema_name
2022-01-28 09:29:05,801 INFO sqlalchemy.engine.Engine [cached since 4.028s ago] {'name': 'ESG_MATCH_TGT2', 'schema_name': 'ADMIN'}
2022-01-28 09:29:05,916 INFO sqlalchemy.engine.Engine SELECT table_name, compression, compress_for FROM ALL_TABLES WHERE table_name = :table_name AND owner = :owner
2022-01-28 09:29:05,917 INFO sqlalchemy.engine.Engine [cached since 4.021s ago] {'table_name': 'ESG_MATCH_TGT2', 'owner': 'ADMIN'}
2022-01-28 09:29:05,957 INFO sqlalchemy.engine.Engine
            SELECT
                col.column_name,
                col.data_type,
                col.char_length,
                col.data_precision,
                col.data_scale,
                col.nullable,
                col.data_default,
                com.comments,
                col.virtual_column,
                                col.default_on_null,
                (
                    SELECT id.generation_type || ',' || id.IDENTITY_OPTIONS
                    FROM ALL_TAB_IDENTITY_COLS id
                    WHERE col.table_name = id.table_name
                    AND col.column_name = id.column_name
                    AND col.owner = id.owner
                ) AS identity_options
            FROM all_tab_cols col
            LEFT JOIN all_col_comments com
            ON col.table_name = com.table_name
            AND col.column_name = com.column_name
            AND col.owner = com.owner
            WHERE col.table_name = :table_name
            AND col.hidden_column = 'NO'
         AND col.owner = :owner  ORDER BY col.column_id
2022-01-28 09:29:05,958 INFO sqlalchemy.engine.Engine [cached since 4.021s ago] {'table_name': 'ESG_MATCH_TGT2', 'owner': 'ADMIN'}
2022-01-28 09:29:06,038 INFO sqlalchemy.engine.Engine SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position
2022-01-28 09:29:06,039 INFO sqlalchemy.engine.Engine [cached since 4.019s ago] {'table_name': 'ESG_MATCH_TGT2', 'owner': 'ADMIN'}
2022-01-28 09:29:06,117 INFO sqlalchemy.engine.Engine SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position
2022-01-28 09:29:06,117 INFO sqlalchemy.engine.Engine [cached since 4.017s ago] {'table_name': 'ESG_MATCH_TGT2', 'schema': 'ADMIN'}
2022-01-28 09:29:06,158 INFO sqlalchemy.engine.Engine SELECT a.index_name, a.column_name,
b.index_type, b.uniqueness, b.compression, b.prefix_length
FROM ALL_IND_COLUMNS a,
ALL_INDEXES b
WHERE
a.index_name = b.index_name
AND a.table_owner = b.table_owner
AND a.table_name = b.table_name
AND a.table_name = :table_name AND a.table_owner = :schema ORDER BY a.index_name, a.column_position
2022-01-28 09:29:06,159 INFO sqlalchemy.engine.Engine [cached since 4.058s ago] {'table_name': 'ESG_MATCH_TGT2', 'schema': 'ADMIN'}
2022-01-28 09:29:06,200 INFO sqlalchemy.engine.Engine SELECT
ac.constraint_name,
ac.constraint_type,
loc.column_name AS local_column,
rem.table_name AS remote_table,
rem.column_name AS remote_column,
rem.owner AS remote_owner,
loc.position as loc_pos,
rem.position as rem_pos,
ac.search_condition,
ac.delete_rule
FROM all_constraints ac,
all_cons_columns loc,
all_cons_columns rem
WHERE ac.table_name = :table_name
AND ac.constraint_type IN ('R','P', 'U', 'C')
AND ac.owner = :owner
AND ac.owner = loc.owner
AND ac.constraint_name = loc.constraint_name
AND ac.r_owner = rem.owner(+)
AND ac.r_constraint_name = rem.constraint_name(+)
AND (rem.position IS NULL or loc.position=rem.position)
ORDER BY ac.constraint_name, loc.position
2022-01-28 09:29:06,201 INFO sqlalchemy.engine.Engine [cached since 4.181s ago] {'table_name': 'ESG_MATCH_TGT2', 'owner': 'ADMIN'}
2022-01-28 09:29:06,281 INFO sqlalchemy.engine.Engine
            SELECT comments
            FROM all_tab_comments
            WHERE table_name = :table_name AND owner = :schema_name

2022-01-28 09:29:06,283 INFO sqlalchemy.engine.Engine [cached since 4.02s ago] {'table_name': 'ESG_MATCH_TGT2', 'schema_name': 'ADMIN'}
2022-01-28 09:29:06,365 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:06,367 INFO sqlalchemy.engine.Engine
DROP TABLE "ESG_MATCH_TGT2"
2022-01-28 09:29:06,369 INFO sqlalchemy.engine.Engine [no key 0.00186s] {}
2022-01-28 09:29:06,438 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:06,516 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:06,516 INFO sqlalchemy.engine.Engine
CREATE TABLE "ESG_MATCH_TGT2" (
	"UNIQUE_ID" NUMBER NOT NULL,
	"ISIN" VARCHAR2(12 CHAR),
	"LEI" VARCHAR2(20 CHAR),
	"SEDOL" VARCHAR2(20 CHAR),
	"COMPANY" VARCHAR2(255 CHAR),
	"COUNTRY" VARCHAR2(255 CHAR),
	PRIMARY KEY ("UNIQUE_ID")
)


2022-01-28 09:29:06,517 INFO sqlalchemy.engine.Engine [no key 0.00100s] {}
2022-01-28 09:29:06,571 INFO sqlalchemy.engine.Engine COMMIT
../../../tests/data/test_target2.csv
2022-01-28 09:29:06,658 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT2" ("UNIQUE_ID", "ISIN", "LEI", "SEDOL", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, NULL, :LEI, :SEDOL, :COMPANY, :COUNTRY)
2022-01-28 09:29:06,661 INFO sqlalchemy.engine.Engine [generated in 0.00384s] {'UNIQUE_ID': 1.0, 'LEI': '097900BHK10000084115', 'SEDOL': '7108899', 'COMPANY': 'HONEYDUKES', 'COUNTRY': 'UNITED STATES'}
2022-01-28 09:29:06,707 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:06,786 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT2" ("UNIQUE_ID", "ISIN", "LEI", "SEDOL", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, NULL, NULL, NULL, :COMPANY, :COUNTRY)
2022-01-28 09:29:06,787 INFO sqlalchemy.engine.Engine [generated in 0.00113s] {'UNIQUE_ID': 2.0, 'COMPANY': 'STARCOURT MALL', 'COUNTRY': 'AUSTRIA'}
2022-01-28 09:29:06,830 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:06,910 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT2" ("UNIQUE_ID", "ISIN", "LEI", "SEDOL", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, NULL, NULL, :COMPANY, :COUNTRY)
2022-01-28 09:29:06,912 INFO sqlalchemy.engine.Engine [generated in 0.00226s] {'UNIQUE_ID': 3.0, 'ISIN': 'CH0012221716', 'COMPANY': 'Bluth company', 'COUNTRY': 'CHE'}
2022-01-28 09:29:06,955 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:07,034 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT2" ("UNIQUE_ID", "ISIN", "LEI", "SEDOL", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, NULL, :SEDOL, :COMPANY, :COUNTRY)
2022-01-28 09:29:07,035 INFO sqlalchemy.engine.Engine [generated in 0.00083s] {'UNIQUE_ID': 4.0, 'ISIN': 'US0200021014', 'SEDOL': '2019952', 'COMPANY': 'InGen', 'COUNTRY': 'usa'}
2022-01-28 09:29:07,075 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:07,154 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT2" ("UNIQUE_ID", "ISIN", "LEI", "SEDOL", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, NULL, :SEDOL, :COMPANY, :COUNTRY)
2022-01-28 09:29:07,155 INFO sqlalchemy.engine.Engine [cached since 0.1209s ago] {'UNIQUE_ID': 5.0, 'ISIN': 'US0126531013', 'SEDOL': '2046853', 'COMPANY': 'SPECTRE', 'COUNTRY': 'USA'}
2022-01-28 09:29:07,195 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:07,273 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT2" ("UNIQUE_ID", "ISIN", "LEI", "SEDOL", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, NULL, :SEDOL, :COMPANY, :COUNTRY)
2022-01-28 09:29:07,273 INFO sqlalchemy.engine.Engine [cached since 0.2402s ago] {'UNIQUE_ID': 6.0, 'ISIN': 'GB00B1YW4409', 'SEDOL': 'B1YW440', 'COMPANY': 'STERLING COOPER', 'COUNTRY': 'GBR'}

2022-01-28 09:29:07,316 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:07,394 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT2" ("UNIQUE_ID", "ISIN", "LEI", "SEDOL", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, NULL, :SEDOL, :COMPANY, :COUNTRY)
2022-01-28 09:29:07,395 INFO sqlalchemy.engine.Engine [cached since 0.3615s ago] {'UNIQUE_ID': 7.0, 'ISIN': 'SK1120005824', 'SEDOL': 'B1YW440', 'COMPANY': 'CENTRAL PERK', 'COUNTRY': 'SK'}
2022-01-28 09:29:07,437 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:07,516 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT2" ("UNIQUE_ID", "ISIN", "LEI", "SEDOL", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, NULL, :SEDOL, :COMPANY, :COUNTRY)
2022-01-28 09:29:07,518 INFO sqlalchemy.engine.Engine [cached since 0.4852s ago] {'UNIQUE_ID': 8.0, 'ISIN': 'DE0005545503', 'SEDOL': '5299003VKVDCUPSS5X23', 'COMPANY': 'DUNDER MIFFLINS', 'COUNTRY': 'Germany'}
2022-01-28 09:29:07,561 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:07,642 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCH_TGT2" ("UNIQUE_ID", "ISIN", "LEI", "SEDOL", "COMPANY", "COUNTRY") VALUES (:UNIQUE_ID, :ISIN, NULL, :SEDOL, :COMPANY, :COUNTRY)
2022-01-28 09:29:07,645 INFO sqlalchemy.engine.Engine [cached since 0.6112s ago] {'UNIQUE_ID': 9.0, 'ISIN': 'GB00B1YW4409', 'SEDOL': 'B1YW440', 'COMPANY': 'Krusty Kr~ab', 'COUNTRY': 'GBR'}
2022-01-28 09:29:07,689 INFO sqlalchemy.engine.Engine COMMIT

## 3. Creating matching/no-matching tables

In [17]:
match_settings = '../../../tests/data/howto/oracle/test_matching_oracle.json'
no_match_settings = '../../../tests/data/howto/oracle/test_no_matching_oracle.json'

In [18]:
file_match = File(match_settings)
file_no_match = File(no_match_settings)

In [19]:
# Call the create_data_source_from_settings() method by passing the File
db_matching = etl_proc_obj.create_data_source(file_match)
db_no_matching = etl_proc_obj.create_data_source(file_no_match)

2022-01-28 09:29:07,890 INFO sqlalchemy.engine.Engine SELECT table_name FROM all_tables WHERE table_name = :name AND owner = :schema_name
2022-01-28 09:29:07,891 INFO sqlalchemy.engine.Engine [cached since 6.119s ago] {'name': 'ESG_MATCHING', 'schema_name': 'ADMIN'}
2022-01-28 09:29:07,972 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:07,974 INFO sqlalchemy.engine.Engine
CREATE TABLE "ESG_MATCHING" (
	"TIMESTAMP" TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
	"MATCHING_ID" NUMBER GENERATED BY DEFAULT AS IDENTITY (START WITH 1),
	"REF_NAME" VARCHAR2(255 CHAR),
	"TGT_NAME" VARCHAR2(20 CHAR),
	"MATCHING_TYPE" VARCHAR2(20 CHAR),
	"MATCHING_SCOPE" VARCHAR2(20 CHAR),
	"MATCHING_RULE" VARCHAR2(20 CHAR),
	"REF_ID" VARCHAR2(255 CHAR),
	"REF_COMPANY" VARCHAR2(255 CHAR),
	"REF_COUNTRY" VARCHAR2(255 CHAR),
	"TGT_ID" VARCHAR2(255 CHAR),
	"TGT_COMPANY" VARCHAR2(255 CHAR),
	"TGT_COUNTRY" VARCHAR2(255 CHAR),
	"ISIN" VARCHAR2(12 CHAR),
	"LEI" VARCHAR2(20 CHAR),
	"SEDOL" VARCHAR2(20 CHAR),
	PRIMARY KEY ("MATCHING_ID")
)


2022-01-28 09:29:07,975 INFO sqlalchemy.engine.Engine [no key 0.00070s] {}
2022-01-28 09:29:08,030 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:08,148 INFO sqlalchemy.engine.Engine SELECT table_name FROM all_tables WHERE table_name = :name AND owner = :schema_name
2022-01-28 09:29:08,149 INFO sqlalchemy.engine.Engine [cached since 6.377s ago] {'name': 'ESG_NO_MATCHING', 'schema_name': 'ADMIN'}
2022-01-28 09:29:08,232 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:08,233 INFO sqlalchemy.engine.Engine
CREATE TABLE "ESG_NO_MATCHING" (
	"TIMESTAMP" TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
	"MATCHING_ID" NUMBER GENERATED BY DEFAULT AS IDENTITY (START WITH 1),
	"TGT_NAME" VARCHAR2(20 CHAR),
	"TGT_ID" VARCHAR2(255 CHAR),
	"TGT_COMPANY" VARCHAR2(255 CHAR),
	"TGT_COUNTRY" VARCHAR2(255 CHAR),
	"ISIN" VARCHAR2(12 CHAR),
	"LEI" VARCHAR2(20 CHAR),
	"SEDOL" VARCHAR2(20 CHAR),
	PRIMARY KEY ("MATCHING_ID")
)


2022-01-28 09:29:08,234 INFO sqlalchemy.engine.Engine [no key 0.00076s] {}
2022-01-28 09:29:08,287 INFO sqlalchemy.engine.Engine COMMIT

## 4. Checking attribute mapping alias

In [20]:
db_ref.get_mapping_to_alias()

{'ISIN': Column('ISIN', VARCHAR2(length=12), table=<ESG_MATCH_REF>),
 'COMPANY': Column('COMPANY', VARCHAR2(length=255), table=<ESG_MATCH_REF>),
 'COUNTRY': Column('COUNTRY', VARCHAR2(length=255), table=<ESG_MATCH_REF>)}

In [21]:
db_tgt1.get_mapping_to_alias()

{'ISIN': Column('ISIN', VARCHAR2(length=12), table=<ESG_MATCH_TGT1>),
 'LEI': Column('LEI', VARCHAR2(length=20), table=<ESG_MATCH_TGT1>),
 'COMPANY': Column('COMPANY', VARCHAR2(length=255), table=<ESG_MATCH_TGT1>),
 'COUNTRY': Column('COUNTRY', VARCHAR2(length=255), table=<ESG_MATCH_TGT1>)}

In [22]:
db_tgt2.get_mapping_to_alias()

{'ISIN': Column('ISIN', VARCHAR2(length=12), table=<ESG_MATCH_TGT2>),
 'LEI': Column('LEI', VARCHAR2(length=20), table=<ESG_MATCH_TGT2>),
 'SEDOL': Column('SEDOL', VARCHAR2(length=20), table=<ESG_MATCH_TGT2>),
 'COMPANY': Column('COMPANY', VARCHAR2(length=255), table=<ESG_MATCH_TGT2>),
 'COUNTRY': Column('COUNTRY', VARCHAR2(length=255), table=<ESG_MATCH_TGT2>)}

## 5. Checking attribute mapping between sources and matching tables

In [23]:
db_ref.get_mapping_to_matching()

{'REF_ID': Column('UNIQUE_ID', NUMBER(asdecimal=False), table=<ESG_MATCH_REF>, primary_key=True, nullable=False),
 'REF_COMPANY': Column('COMPANY', VARCHAR2(length=255), table=<ESG_MATCH_REF>),
 'REF_COUNTRY': Column('COUNTRY', VARCHAR2(length=255), table=<ESG_MATCH_REF>)}

In [24]:
db_tgt1.get_mapping_to_matching()

{'TGT_ID': Column('UNIQUE_ID', NUMBER(asdecimal=False), table=<ESG_MATCH_TGT1>, primary_key=True, nullable=False),
 'ISIN': Column('ISIN', VARCHAR2(length=12), table=<ESG_MATCH_TGT1>),
 'LEI': Column('LEI', VARCHAR2(length=20), table=<ESG_MATCH_TGT1>),
 'TGT_COMPANY': Column('COMPANY', VARCHAR2(length=255), table=<ESG_MATCH_TGT1>),
 'TGT_COUNTRY': Column('COUNTRY', VARCHAR2(length=255), table=<ESG_MATCH_TGT1>)}

In [25]:
db_tgt2.get_mapping_to_matching()

{'TGT_ID': Column('UNIQUE_ID', NUMBER(asdecimal=False), table=<ESG_MATCH_TGT2>, primary_key=True, nullable=False),
 'ISIN': Column('ISIN', VARCHAR2(length=12), table=<ESG_MATCH_TGT2>),
 'LEI': Column('LEI', VARCHAR2(length=20), table=<ESG_MATCH_TGT2>),
 'SEDOL': Column('SEDOL', VARCHAR2(length=20), table=<ESG_MATCH_TGT2>),
 'TGT_COMPANY': Column('COMPANY', VARCHAR2(length=255), table=<ESG_MATCH_TGT2>),
 'TGT_COUNTRY': Column('COUNTRY', VARCHAR2(length=255), table=<ESG_MATCH_TGT2>)}

## 6. Create policies for matching each target data source with the referential

In [26]:
# Import policy module
from esg_matching.matcher.policy import MatchingPolicy

In [27]:
# Create macthing policy object for target1
policy_match_tgt1 = MatchingPolicy(db_tgt1, 'matching_with_ref1')

In [28]:
# Set the referential and matching/no-matching sources
policy_match_tgt1.set_referential_source(db_ref)
policy_match_tgt1.set_matching_source(db_matching)
policy_match_tgt1.set_no_matching_source(db_no_matching)

In [29]:
# Create macthing policy object for target2
policy_match_tgt2 = MatchingPolicy(db_tgt2, 'matching_with_ref1')

In [30]:
# Set the referential and matching/no-matching sources
policy_match_tgt2.set_referential_source(db_ref)
policy_match_tgt2.set_matching_source(db_matching)
policy_match_tgt2.set_no_matching_source(db_no_matching)

## 7. Perform direct full matching (DFM) for each data source

In [31]:
# Import DFM module
from esg_matching.matcher.dfm import DbMatcherDfm

In [32]:
# Create a matcher object for DFM
dfm_matcher_obj = DbMatcherDfm(db_conn)

In [33]:
# Perform DFM on target 1
dfm_matcher_obj.set_policy(policy_match_tgt1)
dfm_matcher_obj.execute_matching()

2022-01-28 09:29:08,692 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:08,699 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCHING" ("REF_NAME", "TGT_NAME", "MATCHING_TYPE", "MATCHING_SCOPE", "MATCHING_RULE", "TGT_ID", "ISIN", "LEI", "TGT_COMPANY", "TGT_COUNTRY", "REF_ID", "REF_COMPANY", "REF_COUNTRY") SELECT 'DS_REF' AS "REF_NAME", 'DS_TGT1' AS "TGT_NAME", 'direct' AS "MATCHING_TYPE", 'full' AS "MATCHING_SCOPE", 'isin' AS "MATCHING_RULE", "ESG_MATCH_TGT1"."UNIQUE_ID" AS "TGT_ID", "ESG_MATCH_TGT1"."ISIN" AS "ISIN", "ESG_MATCH_TGT1"."LEI" AS "LEI", "ESG_MATCH_TGT1"."COMPANY" AS "TGT_COMPANY", "ESG_MATCH_TGT1"."COUNTRY" AS "TGT_COUNTRY", "ESG_MATCH_REF"."UNIQUE_ID" AS "REF_ID", "ESG_MATCH_REF"."COMPANY" AS "REF_COMPANY", "ESG_MATCH_REF"."COUNTRY" AS "REF_COUNTRY"
FROM "ESG_MATCH_TGT1" JOIN "ESG_MATCH_REF" ON "ESG_MATCH_TGT1"."ISIN" = "ESG_MATCH_REF"."ISIN"
2022-01-28 09:29:08,701 INFO sqlalchemy.engine.Engine [generated in 0.00206s] {}
2022-01-28 09:29:08,759 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_NO_MATCHING" ("TGT_NAME", "TGT_ID", "ISIN", "LEI", "TGT_COMPANY", "TGT_COUNTRY") SELECT 'DS_TGT1' AS "TGT_NAME", "ESG_MATCH_TGT1"."UNIQUE_ID" AS "TGT_ID", "ESG_MATCH_TGT1"."ISIN" AS "ISIN", "ESG_MATCH_TGT1"."LEI" AS "LEI", "ESG_MATCH_TGT1"."COMPANY" AS "TGT_COMPANY", "ESG_MATCH_TGT1"."COUNTRY" AS "TGT_COUNTRY"
FROM "ESG_MATCH_TGT1" LEFT OUTER JOIN "ESG_MATCH_REF" ON "ESG_MATCH_TGT1"."ISIN" = "ESG_MATCH_REF"."ISIN"
WHERE "ESG_MATCH_REF"."ISIN" IS NULL
2022-01-28 09:29:08,760 INFO sqlalchemy.engine.Engine [generated in 0.00150s] {}
2022-01-28 09:29:08,806 INFO sqlalchemy.engine.Engine COMMIT

In [34]:
# Perform DFM on target 2
dfm_matcher_obj.set_policy(policy_match_tgt2)
dfm_matcher_obj.execute_matching()

2022-01-28 09:29:08,895 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:08,899 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCHING" ("REF_NAME", "TGT_NAME", "MATCHING_TYPE", "MATCHING_SCOPE", "MATCHING_RULE", "TGT_ID", "ISIN", "LEI", "SEDOL", "TGT_COMPANY", "TGT_COUNTRY", "REF_ID", "REF_COMPANY", "REF_COUNTRY") SELECT 'DS_REF' AS "REF_NAME", 'DS_TGT2' AS "TGT_NAME", 'direct' AS "MATCHING_TYPE", 'full' AS "MATCHING_SCOPE", 'isin' AS "MATCHING_RULE", "ESG_MATCH_TGT2"."UNIQUE_ID" AS "TGT_ID", "ESG_MATCH_TGT2"."ISIN" AS "ISIN", "ESG_MATCH_TGT2"."LEI" AS "LEI", "ESG_MATCH_TGT2"."SEDOL" AS "SEDOL", "ESG_MATCH_TGT2"."COMPANY" AS "TGT_COMPANY", "ESG_MATCH_TGT2"."COUNTRY" AS "TGT_COUNTRY", "ESG_MATCH_REF"."UNIQUE_ID" AS "REF_ID", "ESG_MATCH_REF"."COMPANY" AS "REF_COMPANY", "ESG_MATCH_REF"."COUNTRY" AS "REF_COUNTRY"
FROM "ESG_MATCH_TGT2" JOIN "ESG_MATCH_REF" ON "ESG_MATCH_TGT2"."ISIN" = "ESG_MATCH_REF"."ISIN"
2022-01-28 09:29:08,901 INFO sqlalchemy.engine.Engine [generated in 0.00166s] {}
2022-01-28 09:29:08,953 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_NO_MATCHING" ("TGT_NAME", "TGT_ID", "ISIN", "LEI", "SEDOL", "TGT_COMPANY", "TGT_COUNTRY") SELECT 'DS_TGT2' AS "TGT_NAME", "ESG_MATCH_TGT2"."UNIQUE_ID" AS "TGT_ID", "ESG_MATCH_TGT2"."ISIN" AS "ISIN", "ESG_MATCH_TGT2"."LEI" AS "LEI", "ESG_MATCH_TGT2"."SEDOL" AS "SEDOL", "ESG_MATCH_TGT2"."COMPANY" AS "TGT_COMPANY", "ESG_MATCH_TGT2"."COUNTRY" AS "TGT_COUNTRY"
FROM "ESG_MATCH_TGT2" LEFT OUTER JOIN "ESG_MATCH_REF" ON "ESG_MATCH_TGT2"."ISIN" = "ESG_MATCH_REF"."ISIN"
WHERE "ESG_MATCH_REF"."ISIN" IS NULL
2022-01-28 09:29:08,954 INFO sqlalchemy.engine.Engine [generated in 0.00079s] {}
2022-01-28 09:29:08,997 INFO sqlalchemy.engine.Engine COMMIT

## 8. Perform direct residual matching (DRM) for each data source

In [35]:
# Import DRM module
from esg_matching.matcher.drm import DbMatcherDrm

In [36]:
# Create a matcher object for DRM
drm_matcher_obj = DbMatcherDrm(db_conn)

In [37]:
# Perform DRM on target 1
drm_matcher_obj.set_policy(policy_match_tgt1)
drm_matcher_obj.execute_matching()

2022-01-28 09:29:09,133 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:09,139 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCHING" ("REF_NAME", "TGT_NAME", "MATCHING_TYPE", "MATCHING_SCOPE", "MATCHING_RULE", "TGT_ID", "ISIN", "LEI", "TGT_COMPANY", "TGT_COUNTRY", "REF_ID", "REF_COMPANY", "REF_COUNTRY") SELECT 'DS_REF' AS "REF_NAME", 'DS_TGT1' AS "TGT_NAME", 'direct' AS "MATCHING_TYPE", 'residual' AS "MATCHING_SCOPE", 'name+country' AS "MATCHING_RULE", "ESG_NO_MATCHING"."TGT_ID", "ESG_NO_MATCHING"."ISIN", "ESG_NO_MATCHING"."LEI", "ESG_NO_MATCHING"."TGT_COMPANY", "ESG_NO_MATCHING"."TGT_COUNTRY", "ESG_MATCH_REF"."UNIQUE_ID" AS "REF_ID", "ESG_MATCH_REF"."COMPANY" AS "REF_COMPANY", "ESG_MATCH_REF"."COUNTRY" AS "REF_COUNTRY"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCH_REF" ON "ESG_NO_MATCHING"."TGT_COMPANY" = "ESG_MATCH_REF"."COMPANY" AND "ESG_NO_MATCHING"."TGT_COUNTRY" = "ESG_MATCH_REF"."COUNTRY"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1
2022-01-28 09:29:09,141 INFO sqlalchemy.engine.Engine [generated in 0.00164s] {'TGT_NAME_1': 'DS_TGT1'}
2022-01-28 09:29:09,194 INFO sqlalchemy.engine.Engine DELETE FROM "ESG_NO_MATCHING" WHERE "ESG_NO_MATCHING"."MATCHING_ID" IN (SELECT "ESG_NO_MATCHING"."MATCHING_ID"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCH_REF" ON "ESG_NO_MATCHING"."TGT_COMPANY" = "ESG_MATCH_REF"."COMPANY" AND "ESG_NO_MATCHING"."TGT_COUNTRY" = "ESG_MATCH_REF"."COUNTRY"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1)
2022-01-28 09:29:09,195 INFO sqlalchemy.engine.Engine [generated in 0.00095s] {'TGT_NAME_1': 'DS_TGT1'}
2022-01-28 09:29:09,255 INFO sqlalchemy.engine.Engine COMMIT

In [38]:
# Perform DRM on target 2
drm_matcher_obj.set_policy(policy_match_tgt2)
drm_matcher_obj.execute_matching()

2022-01-28 09:29:09,353 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:09,357 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCHING" ("REF_NAME", "TGT_NAME", "MATCHING_TYPE", "MATCHING_SCOPE", "MATCHING_RULE", "TGT_ID", "ISIN", "LEI", "SEDOL", "TGT_COMPANY", "TGT_COUNTRY", "REF_ID", "REF_COMPANY", "REF_COUNTRY") SELECT 'DS_REF' AS "REF_NAME", 'DS_TGT2' AS "TGT_NAME", 'direct' AS "MATCHING_TYPE", 'residual' AS "MATCHING_SCOPE", 'name+country' AS "MATCHING_RULE", "ESG_NO_MATCHING"."TGT_ID", "ESG_NO_MATCHING"."ISIN", "ESG_NO_MATCHING"."LEI", "ESG_NO_MATCHING"."SEDOL", "ESG_NO_MATCHING"."TGT_COMPANY", "ESG_NO_MATCHING"."TGT_COUNTRY", "ESG_MATCH_REF"."UNIQUE_ID" AS "REF_ID", "ESG_MATCH_REF"."COMPANY" AS "REF_COMPANY", "ESG_MATCH_REF"."COUNTRY" AS "REF_COUNTRY"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCH_REF" ON "ESG_NO_MATCHING"."TGT_COMPANY" = "ESG_MATCH_REF"."COMPANY" AND "ESG_NO_MATCHING"."TGT_COUNTRY" = "ESG_MATCH_REF"."COUNTRY"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1
2022-01-28 09:29:09,358 INFO sqlalchemy.engine.Engine [generated in 0.00138s] {'TGT_NAME_1': 'DS_TGT2'}
2022-01-28 09:29:09,404 INFO sqlalchemy.engine.Engine DELETE FROM "ESG_NO_MATCHING" WHERE "ESG_NO_MATCHING"."MATCHING_ID" IN (SELECT "ESG_NO_MATCHING"."MATCHING_ID"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCH_REF" ON "ESG_NO_MATCHING"."TGT_COMPANY" = "ESG_MATCH_REF"."COMPANY" AND "ESG_NO_MATCHING"."TGT_COUNTRY" = "ESG_MATCH_REF"."COUNTRY"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1)
2022-01-28 09:29:09,405 INFO sqlalchemy.engine.Engine [cached since 0.2111s ago] {'TGT_NAME_1': 'DS_TGT2'}
2022-01-28 09:29:09,445 INFO sqlalchemy.engine.Engine COMMIT

## 9. Perform indirect residual matching (IRM) for each data source

In [39]:
# Import IFM module
from esg_matching.matcher.irm import DbMatcherIrm

In [40]:
# Create a matcher object for IFM
ifm_matcher_obj = DbMatcherIrm(db_conn)

In [41]:
# Perform IFM on target 1
ifm_matcher_obj.set_policy(policy_match_tgt1)
ifm_matcher_obj.execute_matching()

2022-01-28 09:29:09,580 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:09,584 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCHING" ("MATCHING_TYPE", "MATCHING_SCOPE", "MATCHING_RULE", "TGT_NAME", "TGT_ID", "TGT_COMPANY", "TGT_COUNTRY", "ISIN", "LEI", "SEDOL", "REF_NAME", "REF_ID", "REF_COMPANY", "REF_COUNTRY") SELECT 'indirect' AS "MATCHING_TYPE", 'full' AS "MATCHING_SCOPE", 'isin' AS "MATCHING_RULE", "ESG_NO_MATCHING"."TGT_NAME", "ESG_NO_MATCHING"."TGT_ID", "ESG_NO_MATCHING"."TGT_COMPANY", "ESG_NO_MATCHING"."TGT_COUNTRY", "ESG_NO_MATCHING"."ISIN", "ESG_NO_MATCHING"."LEI", "ESG_NO_MATCHING"."SEDOL", "ESG_MATCHING"."TGT_NAME" AS "REF_NAME", "ESG_MATCHING"."TGT_ID" AS "REF_ID", "ESG_MATCHING"."TGT_COMPANY" AS "REF_COMPANY", "ESG_MATCHING"."TGT_COUNTRY" AS "REF_COUNTRY"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."ISIN" = "ESG_MATCHING"."ISIN"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2
2022-01-28 09:29:09,585 INFO sqlalchemy.engine.Engine [generated in 0.00132s] {'TGT_NAME_1': 'DS_TGT1', 'TGT_NAME_2': 'DS_TGT1'}
2022-01-28 09:29:09,638 INFO sqlalchemy.engine.Engine DELETE FROM "ESG_NO_MATCHING" WHERE "ESG_NO_MATCHING"."MATCHING_ID" IN (SELECT "ESG_NO_MATCHING"."MATCHING_ID"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."ISIN" = "ESG_MATCHING"."ISIN"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2)
2022-01-28 09:29:09,638 INFO sqlalchemy.engine.Engine [generated in 0.00084s] {'TGT_NAME_1': 'DS_TGT1', 'TGT_NAME_2': 'DS_TGT1'}
2022-01-28 09:29:09,696 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:09,785 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:09,789 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCHING" ("MATCHING_TYPE", "MATCHING_SCOPE", "MATCHING_RULE", "TGT_NAME", "TGT_ID", "TGT_COMPANY", "TGT_COUNTRY", "ISIN", "LEI", "SEDOL", "REF_NAME", "REF_ID", "REF_COMPANY", "REF_COUNTRY") SELECT 'indirect' AS "MATCHING_TYPE", 'full' AS "MATCHING_SCOPE", 'lei' AS "MATCHING_RULE", "ESG_NO_MATCHING"."TGT_NAME", "ESG_NO_MATCHING"."TGT_ID", "ESG_NO_MATCHING"."TGT_COMPANY", "ESG_NO_MATCHING"."TGT_COUNTRY", "ESG_NO_MATCHING"."ISIN", "ESG_NO_MATCHING"."LEI", "ESG_NO_MATCHING"."SEDOL", "ESG_MATCHING"."TGT_NAME" AS "REF_NAME", "ESG_MATCHING"."TGT_ID" AS "REF_ID", "ESG_MATCHING"."TGT_COMPANY" AS "REF_COMPANY", "ESG_MATCHING"."TGT_COUNTRY" AS "REF_COUNTRY"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."LEI" = "ESG_MATCHING"."LEI"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2
2022-01-28 09:29:09,790 INFO sqlalchemy.engine.Engine [generated in 0.00179s] {'TGT_NAME_1': 'DS_TGT1', 'TGT_NAME_2': 'DS_TGT1'}
2022-01-28 09:29:09,840 INFO sqlalchemy.engine.Engine DELETE FROM "ESG_NO_MATCHING" WHERE "ESG_NO_MATCHING"."MATCHING_ID" IN (SELECT "ESG_NO_MATCHING"."MATCHING_ID"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."LEI" = "ESG_MATCHING"."LEI"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2)
2022-01-28 09:29:09,841 INFO sqlalchemy.engine.Engine [generated in 0.00121s] {'TGT_NAME_1': 'DS_TGT1', 'TGT_NAME_2': 'DS_TGT1'}
2022-01-28 09:29:09,898 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:09,976 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:09,977 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCHING" ("MATCHING_TYPE", "MATCHING_SCOPE", "MATCHING_RULE", "TGT_NAME", "TGT_ID", "TGT_COMPANY", "TGT_COUNTRY", "ISIN", "LEI", "SEDOL", "REF_NAME", "REF_ID", "REF_COMPANY", "REF_COUNTRY") SELECT 'indirect' AS "MATCHING_TYPE", 'full' AS "MATCHING_SCOPE", 'name+country' AS "MATCHING_RULE", "ESG_NO_MATCHING"."TGT_NAME", "ESG_NO_MATCHING"."TGT_ID", "ESG_NO_MATCHING"."TGT_COMPANY", "ESG_NO_MATCHING"."TGT_COUNTRY", "ESG_NO_MATCHING"."ISIN", "ESG_NO_MATCHING"."LEI", "ESG_NO_MATCHING"."SEDOL", "ESG_MATCHING"."TGT_NAME" AS "REF_NAME", "ESG_MATCHING"."TGT_ID" AS "REF_ID", "ESG_MATCHING"."TGT_COMPANY" AS "REF_COMPANY", "ESG_MATCHING"."TGT_COUNTRY" AS "REF_COUNTRY"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."TGT_COMPANY" = "ESG_MATCHING"."TGT_COMPANY" AND "ESG_NO_MATCHING"."TGT_COUNTRY" = "ESG_MATCHING"."TGT_COUNTRY"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2
2022-01-28 09:29:09,978 INFO sqlalchemy.engine.Engine [generated in 0.00100s] {'TGT_NAME_1': 'DS_TGT1', 'TGT_NAME_2': 'DS_TGT1'}
2022-01-28 09:29:10,027 INFO sqlalchemy.engine.Engine DELETE FROM "ESG_NO_MATCHING" WHERE "ESG_NO_MATCHING"."MATCHING_ID" IN (SELECT "ESG_NO_MATCHING"."MATCHING_ID"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."TGT_COMPANY" = "ESG_MATCHING"."TGT_COMPANY" AND "ESG_NO_MATCHING"."TGT_COUNTRY" = "ESG_MATCHING"."TGT_COUNTRY"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2)
2022-01-28 09:29:10,027 INFO sqlalchemy.engine.Engine [generated in 0.00075s] {'TGT_NAME_1': 'DS_TGT1', 'TGT_NAME_2': 'DS_TGT1'}
2022-01-28 09:29:10,082 INFO sqlalchemy.engine.Engine COMMIT

In [42]:
# Perform IFM on target 2
ifm_matcher_obj.set_policy(policy_match_tgt2)
ifm_matcher_obj.execute_matching()

2022-01-28 09:29:10,172 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:10,175 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCHING" ("MATCHING_TYPE", "MATCHING_SCOPE", "MATCHING_RULE", "TGT_NAME", "TGT_ID", "TGT_COMPANY", "TGT_COUNTRY", "ISIN", "LEI", "SEDOL", "REF_NAME", "REF_ID", "REF_COMPANY", "REF_COUNTRY") SELECT 'indirect' AS "MATCHING_TYPE", 'full' AS "MATCHING_SCOPE", 'isin' AS "MATCHING_RULE", "ESG_NO_MATCHING"."TGT_NAME", "ESG_NO_MATCHING"."TGT_ID", "ESG_NO_MATCHING"."TGT_COMPANY", "ESG_NO_MATCHING"."TGT_COUNTRY", "ESG_NO_MATCHING"."ISIN", "ESG_NO_MATCHING"."LEI", "ESG_NO_MATCHING"."SEDOL", "ESG_MATCHING"."TGT_NAME" AS "REF_NAME", "ESG_MATCHING"."TGT_ID" AS "REF_ID", "ESG_MATCHING"."TGT_COMPANY" AS "REF_COMPANY", "ESG_MATCHING"."TGT_COUNTRY" AS "REF_COUNTRY"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."ISIN" = "ESG_MATCHING"."ISIN"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2
2022-01-28 09:29:10,176 INFO sqlalchemy.engine.Engine [cached since 0.5919s ago] {'TGT_NAME_1': 'DS_TGT2', 'TGT_NAME_2': 'DS_TGT2'}
2022-01-28 09:29:10,218 INFO sqlalchemy.engine.Engine DELETE FROM "ESG_NO_MATCHING" WHERE "ESG_NO_MATCHING"."MATCHING_ID" IN (SELECT "ESG_NO_MATCHING"."MATCHING_ID"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."ISIN" = "ESG_MATCHING"."ISIN"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2)
2022-01-28 09:29:10,219 INFO sqlalchemy.engine.Engine [cached since 0.5814s ago] {'TGT_NAME_1': 'DS_TGT2', 'TGT_NAME_2': 'DS_TGT2'}
2022-01-28 09:29:10,259 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:10,337 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:10,338 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCHING" ("MATCHING_TYPE", "MATCHING_SCOPE", "MATCHING_RULE", "TGT_NAME", "TGT_ID", "TGT_COMPANY", "TGT_COUNTRY", "ISIN", "LEI", "SEDOL", "REF_NAME", "REF_ID", "REF_COMPANY", "REF_COUNTRY") SELECT 'indirect' AS "MATCHING_TYPE", 'full' AS "MATCHING_SCOPE", 'lei' AS "MATCHING_RULE", "ESG_NO_MATCHING"."TGT_NAME", "ESG_NO_MATCHING"."TGT_ID", "ESG_NO_MATCHING"."TGT_COMPANY", "ESG_NO_MATCHING"."TGT_COUNTRY", "ESG_NO_MATCHING"."ISIN", "ESG_NO_MATCHING"."LEI", "ESG_NO_MATCHING"."SEDOL", "ESG_MATCHING"."TGT_NAME" AS "REF_NAME", "ESG_MATCHING"."TGT_ID" AS "REF_ID", "ESG_MATCHING"."TGT_COMPANY" AS "REF_COMPANY", "ESG_MATCHING"."TGT_COUNTRY" AS "REF_COUNTRY"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."LEI" = "ESG_MATCHING"."LEI"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2
2022-01-28 09:29:10,339 INFO sqlalchemy.engine.Engine [cached since 0.5504s ago] {'TGT_NAME_1': 'DS_TGT2', 'TGT_NAME_2': 'DS_TGT2'}
2022-01-28 09:29:10,380 INFO sqlalchemy.engine.Engine DELETE FROM "ESG_NO_MATCHING" WHERE "ESG_NO_MATCHING"."MATCHING_ID" IN (SELECT "ESG_NO_MATCHING"."MATCHING_ID"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."LEI" = "ESG_MATCHING"."LEI"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2)
2022-01-28 09:29:10,382 INFO sqlalchemy.engine.Engine [cached since 0.542s ago] {'TGT_NAME_1': 'DS_TGT2', 'TGT_NAME_2': 'DS_TGT2'}
2022-01-28 09:29:10,424 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:10,503 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:10,505 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCHING" ("MATCHING_TYPE", "MATCHING_SCOPE", "MATCHING_RULE", "TGT_NAME", "TGT_ID", "TGT_COMPANY", "TGT_COUNTRY", "ISIN", "LEI", "SEDOL", "REF_NAME", "REF_ID", "REF_COMPANY", "REF_COUNTRY") SELECT 'indirect' AS "MATCHING_TYPE", 'full' AS "MATCHING_SCOPE", 'sedol' AS "MATCHING_RULE", "ESG_NO_MATCHING"."TGT_NAME", "ESG_NO_MATCHING"."TGT_ID", "ESG_NO_MATCHING"."TGT_COMPANY", "ESG_NO_MATCHING"."TGT_COUNTRY", "ESG_NO_MATCHING"."ISIN", "ESG_NO_MATCHING"."LEI", "ESG_NO_MATCHING"."SEDOL", "ESG_MATCHING"."TGT_NAME" AS "REF_NAME", "ESG_MATCHING"."TGT_ID" AS "REF_ID", "ESG_MATCHING"."TGT_COMPANY" AS "REF_COMPANY", "ESG_MATCHING"."TGT_COUNTRY" AS "REF_COUNTRY"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."SEDOL" = "ESG_MATCHING"."SEDOL"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2
2022-01-28 09:29:10,506 INFO sqlalchemy.engine.Engine [generated in 0.00098s] {'TGT_NAME_1': 'DS_TGT2', 'TGT_NAME_2': 'DS_TGT2'}
2022-01-28 09:29:10,565 INFO sqlalchemy.engine.Engine DELETE FROM "ESG_NO_MATCHING" WHERE "ESG_NO_MATCHING"."MATCHING_ID" IN (SELECT "ESG_NO_MATCHING"."MATCHING_ID"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."SEDOL" = "ESG_MATCHING"."SEDOL"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2)
2022-01-28 09:29:10,566 INFO sqlalchemy.engine.Engine [generated in 0.00126s] {'TGT_NAME_1': 'DS_TGT2', 'TGT_NAME_2': 'DS_TGT2'}
2022-01-28 09:29:10,622 INFO sqlalchemy.engine.Engine COMMIT
2022-01-28 09:29:10,701 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-28 09:29:10,702 INFO sqlalchemy.engine.Engine INSERT INTO "ESG_MATCHING" ("MATCHING_TYPE", "MATCHING_SCOPE", "MATCHING_RULE", "TGT_NAME", "TGT_ID", "TGT_COMPANY", "TGT_COUNTRY", "ISIN", "LEI", "SEDOL", "REF_NAME", "REF_ID", "REF_COMPANY", "REF_COUNTRY") SELECT 'indirect' AS "MATCHING_TYPE", 'full' AS "MATCHING_SCOPE", 'name+country' AS "MATCHING_RULE", "ESG_NO_MATCHING"."TGT_NAME", "ESG_NO_MATCHING"."TGT_ID", "ESG_NO_MATCHING"."TGT_COMPANY", "ESG_NO_MATCHING"."TGT_COUNTRY", "ESG_NO_MATCHING"."ISIN", "ESG_NO_MATCHING"."LEI", "ESG_NO_MATCHING"."SEDOL", "ESG_MATCHING"."TGT_NAME" AS "REF_NAME", "ESG_MATCHING"."TGT_ID" AS "REF_ID", "ESG_MATCHING"."TGT_COMPANY" AS "REF_COMPANY", "ESG_MATCHING"."TGT_COUNTRY" AS "REF_COUNTRY"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."TGT_COMPANY" = "ESG_MATCHING"."TGT_COMPANY" AND "ESG_NO_MATCHING"."TGT_COUNTRY" = "ESG_MATCHING"."TGT_COUNTRY"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2
2022-01-28 09:29:10,709 INFO sqlalchemy.engine.Engine [cached since 0.7309s ago] {'TGT_NAME_1': 'DS_TGT2', 'TGT_NAME_2': 'DS_TGT2'}
2022-01-28 09:29:10,751 INFO sqlalchemy.engine.Engine DELETE FROM "ESG_NO_MATCHING" WHERE "ESG_NO_MATCHING"."MATCHING_ID" IN (SELECT "ESG_NO_MATCHING"."MATCHING_ID"
FROM "ESG_NO_MATCHING" JOIN "ESG_MATCHING" ON "ESG_NO_MATCHING"."TGT_COMPANY" = "ESG_MATCHING"."TGT_COMPANY" AND "ESG_NO_MATCHING"."TGT_COUNTRY" = "ESG_MATCHING"."TGT_COUNTRY"
WHERE "ESG_NO_MATCHING"."TGT_NAME" = :TGT_NAME_1 AND "ESG_MATCHING"."TGT_NAME" != :TGT_NAME_2)
2022-01-28 09:29:10,752 INFO sqlalchemy.engine.Engine [cached since 0.7246s ago] {'TGT_NAME_1': 'DS_TGT2', 'TGT_NAME_2': 'DS_TGT2'}
2022-01-28 09:29:10,792 INFO sqlalchemy.engine.Engine COMMIT

## 10. Retrieving the matching and no-matching tables

In [ ]:
# Query the matching table
df_matching = db_matching.get_data_as_df()
df_matching

In [ ]:
# Query the no-matching table
df_no_matching = db_no_matching.get_data_as_df()
df_no_matching

## 11. Close database connection

In [43]:
db_conn.disconnect()

In [44]:
db_conn.is_connected()

False