# How to...create Matching and No-Matching Tables in Oracle database

In [1]:
# Sets up the location of the api relative to this notebook 
import sys
sys.path.append('../../../')

In [2]:
# Import the module for connection to a sqllite database
from esgmatching.db_engine.engines.connector_oracle import OracleConnector

In [3]:
# Import the modules for file management
from esgmatching.file_reader.file import File
from esgmatching.file_reader.file_reader_csv import FileReaderCsv

In [4]:
# Import the modules for the etl processing: reading, transformation and loading data to a database
from esgmatching.processing.etl_processing import EtlProcessing

## 1. Database setup

In [5]:
# The database connector is represented by the class OracleConnector 
db_conn = OracleConnector()

In [6]:
# Setting upt the properties
db_conn.client_driver_dir ='C:\oracle\instantclient_21_3'
db_conn.username ='admin'
db_conn.user_password ='oraclebnp'
db_conn.host_url ='esgmatching.ctqjxnfdw57h.eu-central-1.rds.amazonaws.com'
db_conn.port_number ='1521'
db_conn.service_name ='DATABASE'
db_conn.show_sql_statement = True

In [7]:
# The connect() method of the OracleConnector is used to stablish a connection with the database. 
db_conn.connect()

In [8]:
# Check if the connection was stablished
db_conn.is_connected()

True

## 2. File setup

In [9]:
# Settings for Macthing Table
match_settings = '../../../tests/data/oracle/test_matching_oracle.json'
match_settings

'../../../tests/data/oracle/test_matching_oracle.json'

In [10]:
# Settings for No-Macthing Table
no_match_settings = '../../../tests/data/oracle/test_no_matching_oracle.json'
no_match_settings

'../../../tests/data/oracle/test_no_matching_oracle.json'

In [11]:
# Create a file object
file_match = File(match_settings)
file_no_match = File(no_match_settings)

In [12]:
# Create an ETL process object
etl_proc_obj = EtlProcessing(db_conn)

## 3. Create Matching from file settings

In [13]:
# Call the create_data_source_from_settings() method by passing the File
db_matching = etl_proc_obj.create_data_source(file_match)

2022-01-26 11:57:05,546 INFO sqlalchemy.engine.Engine select sys_context( 'userenv', 'current_schema' ) from dual
2022-01-26 11:57:05,553 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-26 11:57:05,678 INFO sqlalchemy.engine.Engine SELECT value FROM v$parameter WHERE name = 'compatible'
2022-01-26 11:57:05,680 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-26 11:57:05,725 INFO sqlalchemy.engine.Engine select value from nls_session_parameters where parameter = 'NLS_NUMERIC_CHARACTERS'
2022-01-26 11:57:05,727 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-26 11:57:05,846 INFO sqlalchemy.engine.Engine SELECT table_name FROM all_tables WHERE table_name = :name AND owner = :schema_name
2022-01-26 11:57:05,847 INFO sqlalchemy.engine.Engine [generated in 0.00203s] {'name': 'ESG_MATCHING', 'schema_name': 'ADMIN'}
2022-01-26 11:57:05,931 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-26 11:57:05,932 INFO sqlalchemy.engine.Engine
CREATE TABLE "ESG_MATCHING" (
	"TIMESTAMP" TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
	"REF-NAME" VARCHAR2(255 CHAR),
	"TGT_NAME" VARCHAR2(20 CHAR),
	"MATCHING_TYPE" VARCHAR2(20 CHAR),
	"MATCHING_SCOPE" VARCHAR2(20 CHAR),
	"MATCHING_RULE" VARCHAR2(20 CHAR),
	"REF_ID" VARCHAR2(255 CHAR),
	"REF_COMPANY" VARCHAR2(255 CHAR),
	"REF_COUNTRY" VARCHAR2(255 CHAR),
	"TGT_ID" VARCHAR2(255 CHAR),
	"TGT_COMPANY" VARCHAR2(255 CHAR),
	"TGT_COUNTRY" VARCHAR2(255 CHAR),
	"ISIN" VARCHAR2(12 CHAR),
	"LEI" VARCHAR2(20 CHAR),
	"SEDOL" VARCHAR2(20 CHAR)
)


2022-01-26 11:57:05,933 INFO sqlalchemy.engine.Engine [no key 0.00095s] {}
2022-01-26 11:57:05,987 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
# Retrieve the attribute names of the database table
db_matching.get_attribute_names()

['TIMESTAMP',
 'REF-NAME',
 'TGT_NAME',
 'MATCHING_TYPE',
 'MATCHING_SCOPE',
 'MATCHING_RULE',
 'REF_ID',
 'REF_COMPANY',
 'REF_COUNTRY',
 'TGT_ID',
 'TGT_COMPANY',
 'TGT_COUNTRY',
 'ISIN',
 'LEI',
 'SEDOL']

## 4. Create No-Matching from file settings

In [15]:
# Call the create_data_source_from_settings() method by passing the File
db_no_matching = etl_proc_obj.create_data_source(file_no_match)

2022-01-26 11:57:14,263 INFO sqlalchemy.engine.Engine SELECT table_name FROM all_tables WHERE table_name = :name AND owner = :schema_name
2022-01-26 11:57:14,265 INFO sqlalchemy.engine.Engine [cached since 8.42s ago] {'name': 'ESG_NO_MATCHING', 'schema_name': 'ADMIN'}
2022-01-26 11:57:14,511 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-26 11:57:14,513 INFO sqlalchemy.engine.Engine
CREATE TABLE "ESG_NO_MATCHING" (
	"TIMESTAMP" TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
	"TGT_NAME" VARCHAR2(20 CHAR),
	"TGT_ID" VARCHAR2(255 CHAR),
	"TGT_COMPANY" VARCHAR2(255 CHAR),
	"TGT_COUNTRY" VARCHAR2(255 CHAR),
	"ISIN" VARCHAR2(12 CHAR),
	"LEI" VARCHAR2(20 CHAR),
	"SEDOL" VARCHAR2(20 CHAR)
)


2022-01-26 11:57:14,516 INFO sqlalchemy.engine.Engine [no key 0.00236s] {}
2022-01-26 11:57:14,561 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
# Retrieve the attribute names of the database table
db_no_matching.get_attribute_names()

['TIMESTAMP',
 'TGT_NAME',
 'TGT_ID',
 'TGT_COMPANY',
 'TGT_COUNTRY',
 'ISIN',
 'LEI',
 'SEDOL']