# Demo - Exact Matching

In [1]:
# Sets up the location of the api relative to this notebook 
import sys
sys.path.append('../../')

In [2]:
# Import the module for connection to a sqllite database
from esg_matching.engine.connectors.sql_lite import SqlLiteConnector

In [3]:
# Import the modules for file management
from esg_matching.file_reader.file import File
from esg_matching.file_reader.csv_reader import FileReaderCsv

In [4]:
# Import the modules for the etl processing: reading, transformation and loading data to a database
from esg_matching.processing.etl import EtlProcessing

## 1. Database setup

In [5]:
# Localization of the database to be created in relation to this jupyter notebook
# The database will be created in the /data/dabase folder, under the project main folder
path_db = '../../tests/data/demo/test_esg_matching_CLEAN.db'

In [6]:
# The database connector is represented by the class SqlLiteConnector 
db_conn = SqlLiteConnector()

In [7]:
# The connect() method of the SqlLiteConnector is used to stablish a connection with the database if it exists, 
# or to create a new one. The property path_db defines the location and name of the database.
# The  property show_sql_statement indicates if the SQL statements are echoed (or printed) in the default output channel.
db_conn.path_db = path_db
db_conn.show_sql_statement = True
db_conn.connect()

In [8]:
# Check if the connection was stablished
db_conn.is_connected()

True

## 2. Load the data into database from csv files

In [9]:
# Create an ETL process object
etl_proc_obj = EtlProcessing(db_conn)

In [10]:
# Crete a file reader object for csv files
csv_reader_obj = FileReaderCsv()

In [11]:
# Referential Data Source
ref_settings = '../../tests/data/demo/test_ref_sqlite_CLEANED.json'
ref_obj = File(ref_settings)

In [12]:
# Load data from REFERENCIAL
db_ref = etl_proc_obj.load_file_to_db(ref_obj, csv_reader_obj)

2022-07-14 10:39:29,169 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("esg_match_ref")
2022-07-14 10:39:29,172 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:29,247 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("esg_match_ref")
2022-07-14 10:39:29,248 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:29,253 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:29,255 INFO sqlalchemy.engine.Engine [raw sql] ('esg_match_ref',)
2022-07-14 10:39:29,257 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("esg_match_ref")
2022-07-14 10:39:29,258 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:29,260 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("esg_match_ref")
2022-07-14 10:39:29,261 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:29,263 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:29,264 INFO sqlalchemy.engine.Engine [raw sql] ('esg_match_ref',)
2022-07-14 10:39:29,270 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_match_ref")
2022-07-14 10:39:29,271 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:29,273 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_match_ref")
2022-07-14 10:39:29,274 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:29,276 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_match_ref")
2022-07-14 10:39:29,277 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:29,278 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_match_ref")
2022-07-14 10:39:29,279 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:29,281 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:29,283 INFO sqlalchemy.engine.Engine [raw sql] ('esg_match_ref',)
2022-07-14 10:39:29,290 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 10:39:29,291 INFO sqlalchemy.engine.Engine
DROP TABLE esg_match_ref
2022-07-14 10:39:29,292 INFO sqlalchemy.engine.Engine [no key 0.00107s] ()
2022-07-14 10:39:29,442 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:39:29,446 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 10:39:29,449 INFO sqlalchemy.engine.Engine
CREATE TABLE esg_match_ref (
	id_ref INTEGER NOT NULL,
	lei_ref VARCHAR,
	name_ref VARCHAR,
	country_ref VARCHAR,
	PRIMARY KEY (id_ref)
)


2022-07-14 10:39:29,451 INFO sqlalchemy.engine.Engine [no key 0.00182s] ()
2022-07-14 10:39:29,563 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:39:29,628 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("esg_match_ref")
2022-07-14 10:39:29,629 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:29,634 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 10:39:29,646 INFO sqlalchemy.engine.Engine INSERT INTO esg_match_ref (id_ref, lei_ref, name_ref, country_ref) VALUES (?, ?, ?, ?)
2022-07-14 10:39:29,647 INFO sqlalchemy.engine.Engine [generated in 0.00147s] (('1', 'SK1120005824', 'SALLMOOR AGRUPACION DE INTERES ECONOMICO', 'es'), ('2', None, 'HONEYDUKES LIMITED', 'us'), ('3', '8156006CE62347C74658', 'STARCOURT MALL SRLS.', 'it'), ('4', '213800KY4C9WU7WBW518', 'STERLING COOPER', 'gb'), ('5', '5299008DQNJ4RILKA985', 'THE BLUTH COMPANY GEMEINNÜTZIGE GESELLSCHAFT MIT BESCHRÄNKTER HAFTUNG', 'de'), ('6', '9695001UE8RNVNTE9L89', 'INGEN SOCIÉTÉ COOPÉRATIVE DE PRODUCTION', 'fr'), ('7', 'US0231351067', 'STARK INDUSTRIES', 'us'), ('8', '635400V276LMQ5UZ6C26', 'SPECTRE EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA', 'br'), ('9', 'US0126531013', 'SPECTRE 33 SUBSIDIARY', 'us'))
2022-07-14 10:39:29,654 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
# Target Data Sources
tgt1_settings = '../../tests/data/demo/test_ds1_sqlite_CLEANED.json'
tgt1_obj = File(tgt1_settings)

In [14]:
# Load data from TARGET 1
db_tgt1 = etl_proc_obj.load_file_to_db(tgt1_obj, csv_reader_obj)

2022-07-14 10:39:34,524 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("esg_match_tgt1")
2022-07-14 10:39:34,525 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:34,529 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("esg_match_tgt1")
2022-07-14 10:39:34,530 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:34,533 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:34,534 INFO sqlalchemy.engine.Engine [raw sql] ('esg_match_tgt1',)
2022-07-14 10:39:34,537 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("esg_match_tgt1")
2022-07-14 10:39:34,538 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:34,540 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("esg_match_tgt1")
2022-07-14 10:39:34,541 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:34,543 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:34,544 INFO sqlalchemy.engine.Engine [raw sql] ('esg_match_tgt1',)
2022-07-14 10:39:34,546 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_match_tgt1")
2022-07-14 10:39:34,547 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:34,549 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_match_tgt1")
2022-07-14 10:39:34,550 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:34,552 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_match_tgt1")
2022-07-14 10:39:34,553 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:34,555 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_match_tgt1")
2022-07-14 10:39:34,556 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:34,557 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:34,558 INFO sqlalchemy.engine.Engine [raw sql] ('esg_match_tgt1',)
2022-07-14 10:39:34,562 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 10:39:34,563 INFO sqlalchemy.engine.Engine
DROP TABLE esg_match_tgt1
2022-07-14 10:39:34,564 INFO sqlalchemy.engine.Engine [no key 0.00100s] ()
2022-07-14 10:39:34,724 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:39:34,729 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 10:39:34,732 INFO sqlalchemy.engine.Engine
CREATE TABLE esg_match_tgt1 (
	id_ds1 INTEGER NOT NULL,
	isin_ds1 VARCHAR,
	lei_ds1 VARCHAR,
	name_ds1 VARCHAR,
	country_ds1 VARCHAR,
	PRIMARY KEY (id_ds1)
)


2022-07-14 10:39:34,735 INFO sqlalchemy.engine.Engine [no key 0.00232s] ()
2022-07-14 10:39:34,984 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:39:35,022 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("esg_match_tgt1")
2022-07-14 10:39:35,023 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:35,028 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 10:39:35,031 INFO sqlalchemy.engine.Engine INSERT INTO esg_match_tgt1 (id_ds1, isin_ds1, lei_ds1, name_ds1, country_ds1) VALUES (?, ?, ?, ?, ?)
2022-07-14 10:39:35,034 INFO sqlalchemy.engine.Engine [generated in 0.00251s] (('1', 'SK1120005824', '097900BHK10000084115', 'SALLMOOR AGRUPACION DE INTERES ECONOMICO', 'es'), ('2', 'DE0005545503', '5299003VKVDCUPSS5X23', 'DUNDER MIFFLINS', 'de'), ('3', None, '254900B1P3S786KDAW57', 'HONEYDUKES LIMITED', 'us'), ('4', None, '8156006CE62347C74658', 'STARCOURT MALL SOCIETÀ A RESPONSABILITÀ LIMITATA SEMPLIFICATA', 'it'), ('5', None, '3003007MR0P683GYR674', 'RR DINER', 'cn'), ('6', 'US0231351067', 'ZXTILKJKG63JELOEG630', 'STARKS INDUSTRIES AND ASSOCIATION', 'us'), ('7', 'US0126531013', 'HDBLS2Q6GV1LSKQPBS54', 'SPECTRE UNIVERSAL LIMITED', 'us'), ('8', None, '549300O482B6CBF38D50', 'ANALYTICS CONSULTING LIMITADA', 'pt'), ('9', 'FR0000131104', None, 'ANALYTICS CONSULTING SOCIÉTÉ EN NOM COLLECTIF', 'fr'), ('10', None, None, 'VAHLPAHL VIV COMPAGNIE KOMMANDITGESELLSCHAFT', 'de'))
2022-07-14 10:39:35,041 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
# Target Data Sources
tgt2_settings = '../../tests/data/demo/test_ds2_sqlite_CLEANED.json'
tgt2_obj = File(tgt2_settings)

In [16]:
# Load data from TARGET 1
db_tgt2 = etl_proc_obj.load_file_to_db(tgt2_obj, csv_reader_obj)

2022-07-14 10:39:38,366 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("esg_match_tgt2")
2022-07-14 10:39:38,367 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:38,373 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("esg_match_tgt2")
2022-07-14 10:39:38,374 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:38,377 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:38,378 INFO sqlalchemy.engine.Engine [raw sql] ('esg_match_tgt2',)
2022-07-14 10:39:38,380 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("esg_match_tgt2")
2022-07-14 10:39:38,381 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:38,383 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("esg_match_tgt2")
2022-07-14 10:39:38,384 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:38,386 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:38,387 INFO sqlalchemy.engine.Engine [raw sql] ('esg_match_tgt2',)
2022-07-14 10:39:38,390 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_match_tgt2")
2022-07-14 10:39:38,391 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:38,393 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_match_tgt2")
2022-07-14 10:39:38,394 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:38,396 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_match_tgt2")
2022-07-14 10:39:38,397 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:38,399 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_match_tgt2")
2022-07-14 10:39:38,400 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:38,401 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:38,402 INFO sqlalchemy.engine.Engine [raw sql] ('esg_match_tgt2',)
2022-07-14 10:39:38,405 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 10:39:38,407 INFO sqlalchemy.engine.Engine
DROP TABLE esg_match_tgt2
2022-07-14 10:39:38,408 INFO sqlalchemy.engine.Engine [no key 0.00110s] ()
2022-07-14 10:39:38,539 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:39:38,545 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 10:39:38,549 INFO sqlalchemy.engine.Engine
CREATE TABLE esg_match_tgt2 (
	id_ds2 INTEGER NOT NULL,
	isin_ds2 VARCHAR,
	lei_ds2 VARCHAR,
	sedol_ds2 VARCHAR,
	name_ds2 VARCHAR,
	country_ds2 VARCHAR,
	PRIMARY KEY (id_ds2)
)


2022-07-14 10:39:38,550 INFO sqlalchemy.engine.Engine [no key 0.00125s] ()
2022-07-14 10:39:38,704 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:39:38,751 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("esg_match_tgt2")
2022-07-14 10:39:38,752 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:38,758 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 10:39:38,761 INFO sqlalchemy.engine.Engine INSERT INTO esg_match_tgt2 (id_ds2, isin_ds2, lei_ds2, sedol_ds2, name_ds2, country_ds2) VALUES (?, ?, ?, ?, ?, ?)
2022-07-14 10:39:38,763 INFO sqlalchemy.engine.Engine [generated in 0.00198s] (('1', None, '097900BHK10000084115', '7108899', 'HONEYDUKES LIMITED', None), ('2', 'NO0003058109', '8156006CE62347C74658', '10009110965', 'STARCOURT MALL', 'it'), ('3', '5299008DQNJ4RILKA985', 'DE000A2N4H07', None, 'BLUTH COMPANYTHE GEMEINNÜTZIGE GESELLSCHAFT MIT BESCHRÄNKTER HAFTUNG', 'de'), ('4', 'FR0000072910', '9695001UE8RNVNTE9L89', '2019952', 'INGEN', 'fr'), ('5', 'BRCIELACNOR3', None, '2046853', 'SPECTRE EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA', 'br'), ('6', 'GB00B1YW4409', '213800KY4C9WU7WBW518', 'B1YW440', 'STERLING COOPER', 'gb'), ('7', 'SK1120005824', None, 'B1YW440', 'CENTRAL PERK', 'sk'), ('8', 'JE0005545503', None, '6299003VKVDCUPSS5X23', 'DUNDER MIFFLING', 'de'), ('9', 'GB00B1YW4409', None, 'B1YW440', 'KRUSTY KR~AB', 'gb'), ('10', None, None, None, 'VAHLPAHL VIV COMPAGNIE KOMMANDITGESELLSCHAFT', 'de'))
2022-07-14 10:39:38,768 INFO sqlalchemy.engine.Engine COMMIT

## 3. Creating matching/no-matching tables

In [17]:
match_settings = '../../tests/data/demo/test_matching_sqlite.json'
no_match_settings = '../../tests/data/demo/test_no_matching_sqlite.json'

In [18]:
file_match = File(match_settings)
file_no_match = File(no_match_settings)

In [19]:
# Call the create_data_source_from_settings() method by passing the File
db_matching = etl_proc_obj.create_data_source(file_match)

2022-07-14 10:39:46,803 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("esg_matching")
2022-07-14 10:39:46,805 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:46,811 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("esg_matching")
2022-07-14 10:39:46,815 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:46,820 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:46,821 INFO sqlalchemy.engine.Engine [raw sql] ('esg_matching',)
2022-07-14 10:39:46,823 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("esg_matching")
2022-07-14 10:39:46,824 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:46,825 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("esg_matching")
2022-07-14 10:39:46,826 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:46,829 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:46,830 INFO sqlalchemy.engine.Engine [raw sql] ('esg_matching',)
2022-07-14 10:39:46,832 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_matching")
2022-07-14 10:39:46,833 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:46,835 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_matching")
2022-07-14 10:39:46,836 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:46,838 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_matching")
2022-07-14 10:39:46,839 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:46,841 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_matching")
2022-07-14 10:39:46,842 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:46,843 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:46,844 INFO sqlalchemy.engine.Engine [raw sql] ('esg_matching',)
2022-07-14 10:39:46,883 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 10:39:46,887 INFO sqlalchemy.engine.Engine
DROP TABLE esg_matching
2022-07-14 10:39:46,888 INFO sqlalchemy.engine.Engine [no key 0.00094s] ()
2022-07-14 10:39:47,102 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:39:47,107 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 10:39:47,110 INFO sqlalchemy.engine.Engine
CREATE TABLE esg_matching (
	timestamp DATETIME DEFAULT (CURRENT_TIMESTAMP),
	matching_id INTEGER NOT NULL,
	ref_name VARCHAR,
	tgt_name VARCHAR,
	matching_type VARCHAR,
	matching_scope VARCHAR,
	matching_rule VARCHAR,
	ref_id INTEGER,
	ref_company VARCHAR,
	ref_country VARCHAR,
	tgt_id INTEGER,
	tgt_company VARCHAR,
	tgt_country VARCHAR,
	isin VARCHAR,
	lei VARCHAR,
	sedol VARCHAR,
	PRIMARY KEY (matching_id)
)


2022-07-14 10:39:47,112 INFO sqlalchemy.engine.Engine [no key 0.00216s] ()
2022-07-14 10:39:47,243 INFO sqlalchemy.engine.Engine COMMIT

In [20]:
# Call the create_data_source_from_settings() method by passing the File
db_no_matching = etl_proc_obj.create_data_source(file_no_match)

2022-07-14 10:39:47,266 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("esg_no_matching")
2022-07-14 10:39:47,267 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:47,275 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("esg_no_matching")
2022-07-14 10:39:47,276 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:47,279 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:47,281 INFO sqlalchemy.engine.Engine [raw sql] ('esg_no_matching',)
2022-07-14 10:39:47,284 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("esg_no_matching")
2022-07-14 10:39:47,285 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:47,287 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("esg_no_matching")
2022-07-14 10:39:47,288 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:47,290 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:47,292 INFO sqlalchemy.engine.Engine [raw sql] ('esg_no_matching',)
2022-07-14 10:39:47,294 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_no_matching")
2022-07-14 10:39:47,295 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:47,297 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_no_matching")
2022-07-14 10:39:47,298 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:47,301 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("esg_no_matching")
2022-07-14 10:39:47,302 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:47,304 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("esg_no_matching")
2022-07-14 10:39:47,305 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 10:39:47,306 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-14 10:39:47,307 INFO sqlalchemy.engine.Engine [raw sql] ('esg_no_matching',)
2022-07-14 10:39:47,326 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 10:39:47,328 INFO sqlalchemy.engine.Engine
DROP TABLE esg_no_matching
2022-07-14 10:39:47,329 INFO sqlalchemy.engine.Engine [no key 0.00146s] ()
2022-07-14 10:39:47,481 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:39:47,490 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 10:39:47,496 INFO sqlalchemy.engine.Engine
CREATE TABLE esg_no_matching (
	timestamp DATETIME DEFAULT (CURRENT_TIMESTAMP),
	matching_id INTEGER NOT NULL,
	tgt_name VARCHAR,
	tgt_id INTEGER,
	tgt_company VARCHAR,
	tgt_country VARCHAR,
	isin VARCHAR,
	lei VARCHAR,
	sedol VARCHAR,
	PRIMARY KEY (matching_id)
)


2022-07-14 10:39:47,497 INFO sqlalchemy.engine.Engine [no key 0.00112s] ()
2022-07-14 10:39:47,631 INFO sqlalchemy.engine.Engine COMMIT

## 4. Checking matching policy and aliases

In [21]:
db_tgt1.get_policy_definition()

{'matching_with_ref1': {'dfm': {'lei': ['LEI']},
  'drm': {'name+country': ['COMPANY', 'COUNTRY']},
  'irm': {'lei': ['LEI'],
   'isin': ['ISIN'],
   'name+country': ['COMPANY', 'COUNTRY']}}}

In [22]:
db_tgt2.get_policy_definition()

{'matching_with_ref1': {'dfm': {'lei': ['LEI']},
  'drm': {'name+country': ['COMPANY', 'COUNTRY']},
  'irm': {'lei': ['LEI'],
   'isin': ['ISIN'],
   'name+country': ['COMPANY', 'COUNTRY']}}}

In [23]:
db_ref.get_mapping_to_alias()

{'LEI': Column('lei_ref', String(), table=<esg_match_ref>),
 'COMPANY': Column('name_ref', String(), table=<esg_match_ref>),
 'COUNTRY': Column('country_ref', String(), table=<esg_match_ref>)}

In [24]:
db_tgt1.get_mapping_to_alias()

{'ISIN': Column('isin_ds1', String(), table=<esg_match_tgt1>),
 'LEI': Column('lei_ds1', String(), table=<esg_match_tgt1>),
 'COMPANY': Column('name_ds1', String(), table=<esg_match_tgt1>),
 'COUNTRY': Column('country_ds1', String(), table=<esg_match_tgt1>)}

In [25]:
db_tgt2.get_mapping_to_alias()

{'ISIN': Column('isin_ds2', String(), table=<esg_match_tgt2>),
 'LEI': Column('lei_ds2', String(), table=<esg_match_tgt2>),
 'SEDOL': Column('sedol_ds2', String(), table=<esg_match_tgt2>),
 'COMPANY': Column('name_ds2', String(), table=<esg_match_tgt2>),
 'COUNTRY': Column('country_ds2', String(), table=<esg_match_tgt2>)}

## 5. Checking attribute mapping between sources and matching tables

In [26]:
db_ref.get_mapping_to_matching()

{'ref_id': Column('id_ref', Integer(), table=<esg_match_ref>, primary_key=True, nullable=False),
 'ref_company': Column('name_ref', String(), table=<esg_match_ref>),
 'ref_country': Column('country_ref', String(), table=<esg_match_ref>)}

In [27]:
db_tgt1.get_mapping_to_matching()

{'tgt_id': Column('id_ds1', Integer(), table=<esg_match_tgt1>, primary_key=True, nullable=False),
 'isin': Column('isin_ds1', String(), table=<esg_match_tgt1>),
 'lei': Column('lei_ds1', String(), table=<esg_match_tgt1>),
 'tgt_company': Column('name_ds1', String(), table=<esg_match_tgt1>),
 'tgt_country': Column('country_ds1', String(), table=<esg_match_tgt1>)}

In [28]:
db_tgt2.get_mapping_to_matching()

{'tgt_id': Column('id_ds2', Integer(), table=<esg_match_tgt2>, primary_key=True, nullable=False),
 'isin': Column('isin_ds2', String(), table=<esg_match_tgt2>),
 'lei': Column('lei_ds2', String(), table=<esg_match_tgt2>),
 'sedol': Column('sedol_ds2', String(), table=<esg_match_tgt2>),
 'tgt_company': Column('name_ds2', String(), table=<esg_match_tgt2>),
 'tgt_country': Column('country_ds2', String(), table=<esg_match_tgt2>)}

## 6. Create policies for matching each target data source with the referential

In [29]:
# Import policy module
from esg_matching.matcher.policy import MatchingPolicy

In [30]:
# Create macthing policy object for target1
policy_match_tgt1 = MatchingPolicy(db_tgt1, 'matching_with_ref1')

In [31]:
# Set the referential and matching/no-matching sources
policy_match_tgt1.set_referential_source(db_ref)
policy_match_tgt1.set_matching_source(db_matching)
policy_match_tgt1.set_no_matching_source(db_no_matching)

In [32]:
# Create macthing policy object for target2
policy_match_tgt2 = MatchingPolicy(db_tgt2, 'matching_with_ref1')

In [33]:
# Set the referential and matching/no-matching sources
policy_match_tgt2.set_referential_source(db_ref)
policy_match_tgt2.set_matching_source(db_matching)
policy_match_tgt2.set_no_matching_source(db_no_matching)

## 7. Perform direct full matching (DFM) for each data source

In [34]:
# Import DFM module
from esg_matching.matcher.dfm import DbMatcherDfm

In [35]:
# Create a matcher object for DFM
dfm_matcher_obj = DbMatcherDfm(db_conn)

In [36]:
# Perform DFM on target 1
dfm_matcher_obj.set_policy(policy_match_tgt1)
dfm_matcher_obj.execute_matching()

2022-07-14 10:40:03,727 INFO sqlalchemy.engine.Engine INSERT INTO esg_matching (ref_name, tgt_name, matching_type, matching_scope, matching_rule, tgt_id, isin, lei, tgt_company, tgt_country, ref_id, ref_company, ref_country) SELECT 'ds_ref' AS ref_name, 'ds_tgt1' AS tgt_name, 'direct' AS matching_type, 'full' AS matching_scope, 'lei' AS matching_rule, esg_match_tgt1.id_ds1 AS tgt_id, esg_match_tgt1.isin_ds1 AS isin, esg_match_tgt1.lei_ds1 AS lei, esg_match_tgt1.name_ds1 AS tgt_company, esg_match_tgt1.country_ds1 AS tgt_country, esg_match_ref.id_ref AS ref_id, esg_match_ref.name_ref AS ref_company, esg_match_ref.country_ref AS ref_country
FROM esg_match_tgt1 JOIN esg_match_ref ON esg_match_tgt1.lei_ds1 = esg_match_ref.lei_ref
2022-07-14 10:40:03,728 INFO sqlalchemy.engine.Engine [generated in 0.00143s] ()
2022-07-14 10:40:03,931 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:04,048 INFO sqlalchemy.engine.Engine INSERT INTO esg_no_matching (tgt_name, tgt_id, isin, lei, tgt_company, tgt_country) SELECT 'ds_tgt1' AS tgt_name, esg_match_tgt1.id_ds1 AS tgt_id, esg_match_tgt1.isin_ds1 AS isin, esg_match_tgt1.lei_ds1 AS lei, esg_match_tgt1.name_ds1 AS tgt_company, esg_match_tgt1.country_ds1 AS tgt_country
FROM esg_match_tgt1 LEFT OUTER JOIN esg_match_ref ON esg_match_tgt1.lei_ds1 = esg_match_ref.lei_ref
WHERE esg_match_ref.lei_ref IS NULL
2022-07-14 10:40:04,049 INFO sqlalchemy.engine.Engine [generated in 0.00098s] ()
2022-07-14 10:40:04,053 INFO sqlalchemy.engine.Engine COMMIT

In [37]:
# Perform DFM on target 2
dfm_matcher_obj.set_policy(policy_match_tgt2)
dfm_matcher_obj.execute_matching()

2022-07-14 10:40:04,329 INFO sqlalchemy.engine.Engine INSERT INTO esg_matching (ref_name, tgt_name, matching_type, matching_scope, matching_rule, tgt_id, isin, lei, sedol, tgt_company, tgt_country, ref_id, ref_company, ref_country) SELECT 'ds_ref' AS ref_name, 'ds_tgt2' AS tgt_name, 'direct' AS matching_type, 'full' AS matching_scope, 'lei' AS matching_rule, esg_match_tgt2.id_ds2 AS tgt_id, esg_match_tgt2.isin_ds2 AS isin, esg_match_tgt2.lei_ds2 AS lei, esg_match_tgt2.sedol_ds2 AS sedol, esg_match_tgt2.name_ds2 AS tgt_company, esg_match_tgt2.country_ds2 AS tgt_country, esg_match_ref.id_ref AS ref_id, esg_match_ref.name_ref AS ref_company, esg_match_ref.country_ref AS ref_country
FROM esg_match_tgt2 JOIN esg_match_ref ON esg_match_tgt2.lei_ds2 = esg_match_ref.lei_ref
2022-07-14 10:40:04,330 INFO sqlalchemy.engine.Engine [generated in 0.00109s] ()
2022-07-14 10:40:04,377 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:04,582 INFO sqlalchemy.engine.Engine INSERT INTO esg_no_matching (tgt_name, tgt_id, isin, lei, sedol, tgt_company, tgt_country) SELECT 'ds_tgt2' AS tgt_name, esg_match_tgt2.id_ds2 AS tgt_id, esg_match_tgt2.isin_ds2 AS isin, esg_match_tgt2.lei_ds2 AS lei, esg_match_tgt2.sedol_ds2 AS sedol, esg_match_tgt2.name_ds2 AS tgt_company, esg_match_tgt2.country_ds2 AS tgt_country
FROM esg_match_tgt2 LEFT OUTER JOIN esg_match_ref ON esg_match_tgt2.lei_ds2 = esg_match_ref.lei_ref
WHERE esg_match_ref.lei_ref IS NULL
2022-07-14 10:40:04,583 INFO sqlalchemy.engine.Engine [generated in 0.00097s] ()
2022-07-14 10:40:04,590 INFO sqlalchemy.engine.Engine COMMIT

## 8. Perform direct residual matching (DRM) for each data source

In [38]:
# Import DRM module
from esg_matching.matcher.drm import DbMatcherDrm

In [39]:
# Create a matcher object for DRM
drm_matcher_obj = DbMatcherDrm(db_conn)

In [40]:
# Perform DRM on target 1
drm_matcher_obj.set_policy(policy_match_tgt1)
drm_matcher_obj.execute_matching()

2022-07-14 10:40:06,525 INFO sqlalchemy.engine.Engine INSERT INTO esg_matching (ref_name, tgt_name, matching_type, matching_scope, matching_rule, tgt_id, isin, lei, tgt_company, tgt_country, ref_id, ref_company, ref_country) SELECT 'ds_ref' AS ref_name, 'ds_tgt1' AS tgt_name, 'direct' AS matching_type, 'residual' AS matching_scope, 'name+country' AS matching_rule, esg_no_matching.tgt_id, esg_no_matching.isin, esg_no_matching.lei, esg_no_matching.tgt_company, esg_no_matching.tgt_country, esg_match_ref.id_ref AS ref_id, esg_match_ref.name_ref AS ref_company, esg_match_ref.country_ref AS ref_country
FROM esg_no_matching JOIN esg_match_ref ON esg_no_matching.tgt_company = esg_match_ref.name_ref AND esg_no_matching.tgt_country = esg_match_ref.country_ref
WHERE esg_no_matching.tgt_name = ?
2022-07-14 10:40:06,527 INFO sqlalchemy.engine.Engine [generated in 0.00225s] ('ds_tgt1',)
2022-07-14 10:40:06,541 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:06,724 INFO sqlalchemy.engine.Engine DELETE FROM esg_no_matching WHERE esg_no_matching.matching_id IN (SELECT esg_no_matching.matching_id
FROM esg_no_matching JOIN esg_match_ref ON esg_no_matching.tgt_company = esg_match_ref.name_ref AND esg_no_matching.tgt_country = esg_match_ref.country_ref
WHERE esg_no_matching.tgt_name = ?)
2022-07-14 10:40:06,725 INFO sqlalchemy.engine.Engine [generated in 0.00118s] ('ds_tgt1',)
2022-07-14 10:40:06,748 INFO sqlalchemy.engine.Engine COMMIT

In [41]:
# Perform DRM on target 2
drm_matcher_obj.set_policy(policy_match_tgt2)
drm_matcher_obj.execute_matching()

2022-07-14 10:40:07,445 INFO sqlalchemy.engine.Engine INSERT INTO esg_matching (ref_name, tgt_name, matching_type, matching_scope, matching_rule, tgt_id, isin, lei, sedol, tgt_company, tgt_country, ref_id, ref_company, ref_country) SELECT 'ds_ref' AS ref_name, 'ds_tgt2' AS tgt_name, 'direct' AS matching_type, 'residual' AS matching_scope, 'name+country' AS matching_rule, esg_no_matching.tgt_id, esg_no_matching.isin, esg_no_matching.lei, esg_no_matching.sedol, esg_no_matching.tgt_company, esg_no_matching.tgt_country, esg_match_ref.id_ref AS ref_id, esg_match_ref.name_ref AS ref_company, esg_match_ref.country_ref AS ref_country
FROM esg_no_matching JOIN esg_match_ref ON esg_no_matching.tgt_company = esg_match_ref.name_ref AND esg_no_matching.tgt_country = esg_match_ref.country_ref
WHERE esg_no_matching.tgt_name = ?
2022-07-14 10:40:07,446 INFO sqlalchemy.engine.Engine [generated in 0.00103s] ('ds_tgt2',)
2022-07-14 10:40:07,455 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:07,804 INFO sqlalchemy.engine.Engine DELETE FROM esg_no_matching WHERE esg_no_matching.matching_id IN (SELECT esg_no_matching.matching_id
FROM esg_no_matching JOIN esg_match_ref ON esg_no_matching.tgt_company = esg_match_ref.name_ref AND esg_no_matching.tgt_country = esg_match_ref.country_ref
WHERE esg_no_matching.tgt_name = ?)
2022-07-14 10:40:07,805 INFO sqlalchemy.engine.Engine [cached since 1.081s ago] ('ds_tgt2',)
2022-07-14 10:40:07,808 INFO sqlalchemy.engine.Engine COMMIT

## 9. Perform indirect full matching (IFM) for each data source

In [42]:
# Import IFM module
from esg_matching.matcher.irm import DbMatcherIrm

In [43]:
# Create a matcher object for IFM
irm_matcher_obj = DbMatcherIrm(db_conn)

In [44]:
# Perform IFM on target 1
irm_matcher_obj.set_policy(policy_match_tgt1)
irm_matcher_obj.execute_matching()

2022-07-14 10:40:09,739 INFO sqlalchemy.engine.Engine INSERT INTO esg_matching (matching_type, matching_scope, matching_rule, tgt_name, tgt_id, tgt_company, tgt_country, isin, lei, sedol, ref_name, ref_id, ref_company, ref_country) SELECT 'indirect' AS matching_type, 'full' AS matching_scope, 'lei' AS matching_rule, esg_no_matching.tgt_name, esg_no_matching.tgt_id, esg_no_matching.tgt_company, esg_no_matching.tgt_country, esg_no_matching.isin, esg_no_matching.lei, esg_no_matching.sedol, esg_matching.tgt_name AS ref_name, esg_matching.tgt_id AS ref_id, esg_matching.tgt_company AS ref_company, esg_matching.tgt_country AS ref_country
FROM esg_no_matching JOIN esg_matching ON esg_no_matching.lei = esg_matching.lei
WHERE esg_no_matching.tgt_name = ? AND esg_matching.tgt_name != ?
2022-07-14 10:40:09,739 INFO sqlalchemy.engine.Engine [generated in 0.00092s] ('ds_tgt1', 'ds_tgt1')
2022-07-14 10:40:09,742 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:09,746 INFO sqlalchemy.engine.Engine DELETE FROM esg_no_matching WHERE esg_no_matching.matching_id IN (SELECT esg_no_matching.matching_id
FROM esg_no_matching JOIN esg_matching ON esg_no_matching.lei = esg_matching.lei
WHERE esg_no_matching.tgt_name = ? AND esg_matching.tgt_name != ?)
2022-07-14 10:40:09,747 INFO sqlalchemy.engine.Engine [generated in 0.00134s] ('ds_tgt1', 'ds_tgt1')
2022-07-14 10:40:09,749 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:09,755 INFO sqlalchemy.engine.Engine INSERT INTO esg_matching (matching_type, matching_scope, matching_rule, tgt_name, tgt_id, tgt_company, tgt_country, isin, lei, sedol, ref_name, ref_id, ref_company, ref_country) SELECT 'indirect' AS matching_type, 'full' AS matching_scope, 'isin' AS matching_rule, esg_no_matching.tgt_name, esg_no_matching.tgt_id, esg_no_matching.tgt_company, esg_no_matching.tgt_country, esg_no_matching.isin, esg_no_matching.lei, esg_no_matching.sedol, esg_matching.tgt_name AS ref_name, esg_matching.tgt_id AS ref_id, esg_matching.tgt_company AS ref_company, esg_matching.tgt_country AS ref_country
FROM esg_no_matching JOIN esg_matching ON esg_no_matching.isin = esg_matching.isin
WHERE esg_no_matching.tgt_name = ? AND esg_matching.tgt_name != ?
2022-07-14 10:40:09,756 INFO sqlalchemy.engine.Engine [generated in 0.00112s] ('ds_tgt1', 'ds_tgt1')
2022-07-14 10:40:09,758 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:09,762 INFO sqlalchemy.engine.Engine DELETE FROM esg_no_matching WHERE esg_no_matching.matching_id IN (SELECT esg_no_matching.matching_id
FROM esg_no_matching JOIN esg_matching ON esg_no_matching.isin = esg_matching.isin
WHERE esg_no_matching.tgt_name = ? AND esg_matching.tgt_name != ?)
2022-07-14 10:40:09,763 INFO sqlalchemy.engine.Engine [generated in 0.00116s] ('ds_tgt1', 'ds_tgt1')
2022-07-14 10:40:09,765 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:09,771 INFO sqlalchemy.engine.Engine INSERT INTO esg_matching (matching_type, matching_scope, matching_rule, tgt_name, tgt_id, tgt_company, tgt_country, isin, lei, sedol, ref_name, ref_id, ref_company, ref_country) SELECT 'indirect' AS matching_type, 'full' AS matching_scope, 'name+country' AS matching_rule, esg_no_matching.tgt_name, esg_no_matching.tgt_id, esg_no_matching.tgt_company, esg_no_matching.tgt_country, esg_no_matching.isin, esg_no_matching.lei, esg_no_matching.sedol, esg_matching.tgt_name AS ref_name, esg_matching.tgt_id AS ref_id, esg_matching.tgt_company AS ref_company, esg_matching.tgt_country AS ref_country
FROM esg_no_matching JOIN esg_matching ON esg_no_matching.tgt_company = esg_matching.tgt_company AND esg_no_matching.tgt_country = esg_matching.tgt_country
WHERE esg_no_matching.tgt_name = ? AND esg_matching.tgt_name != ?
2022-07-14 10:40:09,772 INFO sqlalchemy.engine.Engine [generated in 0.00107s] ('ds_tgt1', 'ds_tgt1')
2022-07-14 10:40:09,775 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:09,781 INFO sqlalchemy.engine.Engine DELETE FROM esg_no_matching WHERE esg_no_matching.matching_id IN (SELECT esg_no_matching.matching_id
FROM esg_no_matching JOIN esg_matching ON esg_no_matching.tgt_company = esg_matching.tgt_company AND esg_no_matching.tgt_country = esg_matching.tgt_country
WHERE esg_no_matching.tgt_name = ? AND esg_matching.tgt_name != ?)
2022-07-14 10:40:09,782 INFO sqlalchemy.engine.Engine [generated in 0.00120s] ('ds_tgt1', 'ds_tgt1')
2022-07-14 10:40:09,785 INFO sqlalchemy.engine.Engine COMMIT

In [45]:
# Perform IFM on target 2
irm_matcher_obj.set_policy(policy_match_tgt2)
irm_matcher_obj.execute_matching()

2022-07-14 10:40:12,474 INFO sqlalchemy.engine.Engine INSERT INTO esg_matching (matching_type, matching_scope, matching_rule, tgt_name, tgt_id, tgt_company, tgt_country, isin, lei, sedol, ref_name, ref_id, ref_company, ref_country) SELECT 'indirect' AS matching_type, 'full' AS matching_scope, 'lei' AS matching_rule, esg_no_matching.tgt_name, esg_no_matching.tgt_id, esg_no_matching.tgt_company, esg_no_matching.tgt_country, esg_no_matching.isin, esg_no_matching.lei, esg_no_matching.sedol, esg_matching.tgt_name AS ref_name, esg_matching.tgt_id AS ref_id, esg_matching.tgt_company AS ref_company, esg_matching.tgt_country AS ref_country
FROM esg_no_matching JOIN esg_matching ON esg_no_matching.lei = esg_matching.lei
WHERE esg_no_matching.tgt_name = ? AND esg_matching.tgt_name != ?
2022-07-14 10:40:12,475 INFO sqlalchemy.engine.Engine [cached since 2.737s ago] ('ds_tgt2', 'ds_tgt2')
2022-07-14 10:40:12,479 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:12,708 INFO sqlalchemy.engine.Engine DELETE FROM esg_no_matching WHERE esg_no_matching.matching_id IN (SELECT esg_no_matching.matching_id
FROM esg_no_matching JOIN esg_matching ON esg_no_matching.lei = esg_matching.lei
WHERE esg_no_matching.tgt_name = ? AND esg_matching.tgt_name != ?)
2022-07-14 10:40:12,710 INFO sqlalchemy.engine.Engine [cached since 2.965s ago] ('ds_tgt2', 'ds_tgt2')
2022-07-14 10:40:12,750 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:12,867 INFO sqlalchemy.engine.Engine INSERT INTO esg_matching (matching_type, matching_scope, matching_rule, tgt_name, tgt_id, tgt_company, tgt_country, isin, lei, sedol, ref_name, ref_id, ref_company, ref_country) SELECT 'indirect' AS matching_type, 'full' AS matching_scope, 'isin' AS matching_rule, esg_no_matching.tgt_name, esg_no_matching.tgt_id, esg_no_matching.tgt_company, esg_no_matching.tgt_country, esg_no_matching.isin, esg_no_matching.lei, esg_no_matching.sedol, esg_matching.tgt_name AS ref_name, esg_matching.tgt_id AS ref_id, esg_matching.tgt_company AS ref_company, esg_matching.tgt_country AS ref_country
FROM esg_no_matching JOIN esg_matching ON esg_no_matching.isin = esg_matching.isin
WHERE esg_no_matching.tgt_name = ? AND esg_matching.tgt_name != ?
2022-07-14 10:40:12,870 INFO sqlalchemy.engine.Engine [cached since 3.116s ago] ('ds_tgt2', 'ds_tgt2')
2022-07-14 10:40:12,874 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:13,075 INFO sqlalchemy.engine.Engine DELETE FROM esg_no_matching WHERE esg_no_matching.matching_id IN (SELECT esg_no_matching.matching_id
FROM esg_no_matching JOIN esg_matching ON esg_no_matching.isin = esg_matching.isin
WHERE esg_no_matching.tgt_name = ? AND esg_matching.tgt_name != ?)
2022-07-14 10:40:13,076 INFO sqlalchemy.engine.Engine [cached since 3.313s ago] ('ds_tgt2', 'ds_tgt2')
2022-07-14 10:40:13,079 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:13,103 INFO sqlalchemy.engine.Engine INSERT INTO esg_matching (matching_type, matching_scope, matching_rule, tgt_name, tgt_id, tgt_company, tgt_country, isin, lei, sedol, ref_name, ref_id, ref_company, ref_country) SELECT 'indirect' AS matching_type, 'full' AS matching_scope, 'name+country' AS matching_rule, esg_no_matching.tgt_name, esg_no_matching.tgt_id, esg_no_matching.tgt_company, esg_no_matching.tgt_country, esg_no_matching.isin, esg_no_matching.lei, esg_no_matching.sedol, esg_matching.tgt_name AS ref_name, esg_matching.tgt_id AS ref_id, esg_matching.tgt_company AS ref_company, esg_matching.tgt_country AS ref_country
FROM esg_no_matching JOIN esg_matching ON esg_no_matching.tgt_company = esg_matching.tgt_company AND esg_no_matching.tgt_country = esg_matching.tgt_country
WHERE esg_no_matching.tgt_name = ? AND esg_matching.tgt_name != ?
2022-07-14 10:40:13,104 INFO sqlalchemy.engine.Engine [cached since 3.333s ago] ('ds_tgt2', 'ds_tgt2')
2022-07-14 10:40:13,107 INFO sqlalchemy.engine.Engine COMMIT
2022-07-14 10:40:13,112 INFO sqlalchemy.engine.Engine DELETE FROM esg_no_matching WHERE esg_no_matching.matching_id IN (SELECT esg_no_matching.matching_id
FROM esg_no_matching JOIN esg_matching ON esg_no_matching.tgt_company = esg_matching.tgt_company AND esg_no_matching.tgt_country = esg_matching.tgt_country
WHERE esg_no_matching.tgt_name = ? AND esg_matching.tgt_name != ?)
2022-07-14 10:40:13,115 INFO sqlalchemy.engine.Engine [cached since 3.334s ago] ('ds_tgt2', 'ds_tgt2')
2022-07-14 10:40:13,120 INFO sqlalchemy.engine.Engine COMMIT

## 10. Saving the matching table as .csv file

In [46]:
import pandas as pd

In [47]:
df_matching = db_matching.get_data_as_df()

2022-07-14 10:40:14,887 INFO sqlalchemy.engine.Engine SELECT esg_matching.timestamp, esg_matching.matching_id, esg_matching.ref_name, esg_matching.tgt_name, esg_matching.matching_type, esg_matching.matching_scope, esg_matching.matching_rule, esg_matching.ref_id, esg_matching.ref_company, esg_matching.ref_country, esg_matching.tgt_id, esg_matching.tgt_company, esg_matching.tgt_country, esg_matching.isin, esg_matching.lei, esg_matching.sedol
FROM esg_matching
2022-07-14 10:40:14,889 INFO sqlalchemy.engine.Engine [generated in 0.00112s] ()

In [48]:
df_matching

,timestamp,matching_id,ref_name,tgt_name,matching_type,matching_scope,matching_rule,ref_id,ref_company,ref_country,tgt_id,tgt_company,tgt_country,isin,lei,sedol
0,2022-07-14 09:40:03,1,ds_ref,ds_tgt1,direct,full,lei,3,STARCOURT MALL SRLS.,it,4,STARCOURT MALL SOCIETÀ A RESPONSABILITÀ LIMITA...,it,None,8156006CE62347C74658,None
1,2022-07-14 09:40:04,2,ds_ref,ds_tgt2,direct,full,lei,3,STARCOURT MALL SRLS.,it,2,STARCOURT MALL,it,NO0003058109,8156006CE62347C74658,10009110965
2,2022-07-14 09:40:04,3,ds_ref,ds_tgt2,direct,full,lei,6,INGEN SOCIÉTÉ COOPÉRATIVE DE PRODUCTION,fr,4,INGEN,fr,FR0000072910,9695001UE8RNVNTE9L89,2019952
3,2022-07-14 09:40:04,4,ds_ref,ds_tgt2,direct,full,lei,4,STERLING COOPER,gb,6,STERLING COOPER,gb,GB00B1YW4409,213800KY4C9WU7WBW518,B1YW440
4,2022-07-14 09:40:06,5,ds_ref,ds_tgt1,direct,residual,name+country,1,SALLMOOR AGRUPACION DE INTERES ECONOMICO,es,1,SALLMOOR AGRUPACION DE INTERES ECONOMICO,es,SK1120005824,097900BHK10000084115,None
5,2022-07-14 09:40:06,6,ds_ref,ds_tgt1,direct,residual,name+country,2,HONEYDUKES LIMITED,us,3,HONEYDUKES LIMITED,us,None,254900B1P3S786KDAW57,None
6,2022-07-14 09:40:07,7,ds_ref,ds_tgt2,direct,residual,name+country,8,SPECTRE EMPRESA INDIVIDUAL DE RESPONSABILIDADE...,br,5,SPECTRE EMPRESA INDIVIDUAL DE RESPONSABILIDADE...,br,BRCIELACNOR3,None,2046853
7,2022-07-14 09:40:12,8,ds_tgt1,ds_tgt2,indirect,full,lei,1,SALLMOOR AGRUPACION DE INTERES ECONOMICO,es,1,HONEYDUKES LIMITED,None,None,097900BHK10000084115,7108899
8,2022-07-14 09:40:12,9,ds_tgt1,ds_tgt2,indirect,full,isin,1,SALLMOOR AGRUPACION DE INTERES ECONOMICO,es,7,CENTRAL PERK,sk,SK1120005824,None,B1YW440

In [49]:
df_matching.to_csv('my_matching.csv', index=False)

## 11. Close database connection

In [50]:
db_conn.disconnect()

In [51]:
db_conn.is_connected()

False