# How to...perform exact matching on trustable attributes

In [1]:
# Sets up the location of the api relative to this notebook 
import sys
sys.path.append('../../../')

In [2]:
# Import the module for accessing a database
from esgmatching.dbmanager.SqlEngine import SqlEngine

In [3]:
# Import the module for reading csv files
from esgmatching.reader.FileReaderCsvToDB import FileReaderCsvToDB

In [4]:
# Import the module for reading csv files
from esgmatching.matcher.ExactMatcherDB import ExactMatcherDB

## 1. Settings

In [5]:
# Localization of the database to be created in relation to this jupyter notebook
# The database will be created in the /data/dabase folder, under the project main folder (EntityMatching)
path_db = '../../../data/database/'

In [6]:
# String connection used for sqlite. Others databases might require different information.
# In this example the connection is a combination of [sqlite statement] + [database path] + [database name]
str_connection = 'sqlite:///' + path_db + 'entitymatching.db'
str_connection

'sqlite:///../../../data/database/entitymatching.db'

In [7]:
# The database engine object is created by passing the string connection 
sqlengine_obj = SqlEngine(str_connection)

In [2]:
# The connect() method of the SqlEngine is used to stablish a connection with the database if it exists, 
# or to create a new one, otherwise. The parameter show_eco is False by default and indicates if the SQL statements 
# are echoed (or printed) in the default output channel. Therefore, let's set show_echo = True to see the Sql statements. 
sqlengine_obj.connect(show_echo=True)

NameError: name 'sqlengine_obj' is not defined

In [1]:
# Check if the connection was stablished
sqlengine_obj.is_connected()

NameError: name 'sqlengine_obj' is not defined

## 2. Read the csv files into the database

In [9]:
# Path to the csv files and its mapping files
# Localization of the test files
path_test = '../../../data/test/'

In [10]:
# CSV file for Data source 1 
file1_path = path_test + 'test_data_source1.csv'
file1_path

'../../../data/test/test_data_source1.csv'

In [11]:
# Data mapping for Data source 1
file1_map = path_test + 'test_data_source1.json'
file1_map

'../../../data/test/test_data_source1.json'

In [12]:
# Initialize the FileReader
csvreader_obj = FileReaderCsvToDB()

In [13]:
# Set the database engine into the FileReader
csvreader_obj.set_database_engine(sqlengine_obj, use_session=True)

In [14]:
# Read 'test_data_source1.csv'
ref_data_source = csvreader_obj.read_file(file1_path, file1_map, delimiter=',', chunk_size=10)

2021-09-09 10:53:40,438 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:53:40,442 INFO sqlalchemy.engine.Engine
CREATE TABLE data_source_ref (
	idx INTEGER NOT NULL,
	data_source VARCHAR,
	isin VARCHAR,
	isvalid_isin BOOLEAN,
	company_name VARCHAR,
	original_company_name VARCHAR,
	country VARCHAR,
	country_alpha2 VARCHAR,
	country_alpha3 VARCHAR,
	original_country VARCHAR,
	PRIMARY KEY (idx)
)


2021-09-09 10:53:40,443 INFO sqlalchemy.engine.Engine [no key 0.00113s] ()
2021-09-09 10:53:40,463 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 10:53:40,658 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:53:40,660 INFO sqlalchemy.engine.Engine INSERT INTO data_source_ref (data_source, isin, isvalid_isin, company_name, original_company_name, country, country_alpha2, country_alpha3, original_country) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, NULL, NULL, ?, ?, ?, ?, ?, ?), (?, NULL, NULL, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-09-09 10:53:40,661 INFO sqlalchemy.engine.Engine [no key 0.00091s] ('data_source_ref', 'SK1120005824', 1, 'central perk', 'CENTRAL PERK', 'slovakia', 'sk', 'svk', 'SK', 'data_source_ref', 'honeydukes', 'HONEYDUKES', 'united states of america', 'us', 'usa', 'UNITED STATES OF AMERICA', 'data_source_ref', 'starcourt mall', 'STARCOURT MALL', 'austria', 'at', 'aut', 'AUSTRIA', 'data_source_ref', 'GB00B1YW4409', 1, 'sterling cooper', 'STERLING COOPER', 'united kingdom of great britain and northern ireland', 'gb', 'gbr', 'GBR', 'data_source_ref', 'CH0012221716', 1, 'bluth company', 'Bluth company', 'switzerland', 'ch', 'che', 'CHE', 'data_source_ref', 'US0200021014', 1, 'ingen', 'InGen', 'united states of america', 'us', 'usa', 'usa', 'data_source_ref', 'US0231351067', 1, 'stark industries', 'Stark Industries', 'united states of america', 'us', 'usa', 'us', 'data_source_ref', 'US0126531013', 1, 'spectre', 'SPECTRE', 'united states of america', 'us', 'usa', 'USA')
2021-09-09 10:53:40,665 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 10:53:40,684 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:53:40,694 INFO sqlalchemy.engine.Engine SELECT count(DISTINCT data_source_ref.idx) AS count_1
FROM data_source_ref
 LIMIT ? OFFSET ?
2021-09-09 10:53:40,698 INFO sqlalchemy.engine.Engine [generated in 0.00426s] (1, 0)
2021-09-09 10:53:40,703 INFO sqlalchemy.engine.Engine ROLLBACK

In [15]:
# CSV file for Data source 2 
file2_path = path_test + 'test_data_source2.csv'
file2_path

'../../../data/test/test_data_source2.csv'

In [16]:
# Data mapping for Data source 2
file2_map = path_test + 'test_data_source2.json'
file2_map

'../../../data/test/test_data_source2.json'

In [17]:
# Read 'test_data_source2.csv'
target_data_source = csvreader_obj.read_file(file2_path, file2_map, delimiter=',', chunk_size=10)

2021-09-09 10:55:16,206 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:55:16,208 INFO sqlalchemy.engine.Engine
CREATE TABLE data_source_target1 (
	idx INTEGER NOT NULL,
	data_source VARCHAR,
	isin VARCHAR,
	isvalid_isin BOOLEAN,
	lei VARCHAR,
	isvalid_lei BOOLEAN,
	company_name VARCHAR,
	original_company_name VARCHAR,
	country VARCHAR,
	country_alpha2 VARCHAR,
	country_alpha3 VARCHAR,
	original_country VARCHAR,
	PRIMARY KEY (idx)
)


2021-09-09 10:55:16,209 INFO sqlalchemy.engine.Engine [no key 0.00079s] ()
2021-09-09 10:55:16,227 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 10:55:16,236 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:55:16,241 INFO sqlalchemy.engine.Engine INSERT INTO data_source_target1 (data_source, isin, isvalid_isin, lei, isvalid_lei, company_name, original_company_name, country, country_alpha2, country_alpha3, original_country) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, NULL, NULL, ?, ?, ?, ?, ?, ?, ?, ?), (?, NULL, NULL, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, NULL, NULL, ?, ?, ?, ?, ?, ?), (?, NULL, NULL, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-09-09 10:55:16,249 INFO sqlalchemy.engine.Engine [no key 0.00842s] ('data_source_target1', 'SK1120005824', 1, '097900BHK10000084115', 1, 'central perk and sons', 'CENTRAL PERK AND SONS', 'germany', 'de', 'deu', 'DE', 'data_source_target1', 'DE0005545503', 1, '5299003VKVDCUPSS5X23', 1, 'dunder mifflins', 'DUNDER MIFFLINS [12345]', 'germany', 'de', 'deu', 'de', 'data_source_target1', '254900B1P3S786KDAW57', 1, 'honeydukes', 'HONEYDUKES (adm@honeydukes.com)', 'united states of america', 'us', 'usa', 'UNITED STATES OF AMERICA', 'data_source_target1', '529900MVZ2YHFZV3K546', 1, 'starcourt mall', 'STARCOURT MALL', 'austria', 'at', 'aut', 'AUSTRIA', 'data_source_target1', 'GB00B1YW4409', 1, 'krusty krab', 'Krusty Krab', 'united kingdom of great britain and northern ireland', 'gb', 'gbr', 'GB', 'data_source_target1', '3003007MR0P683GYR674', 1, 'rr diner', 'RR DINER', 'china', 'cn', 'chn', 'CHINA', 'data_source_target1', 'US0231351067', 1, 'ZXTILKJKG63JELOEG630', 1, 'starks industries and association', 'Starks Industries and Association', 'united states of america', 'us', 'usa', 'usa', 'data_source_target1', 'US0126531013', 1, 'HDBLS2Q6GV1LSKQPBS54', 1, 'spectre universal limited', 'SPECTRE UNIVERSAL LIMITED', 'united states of america', 'us', 'usa', 'USA')
2021-09-09 10:55:16,254 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 10:55:16,274 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:55:16,286 INFO sqlalchemy.engine.Engine SELECT count(DISTINCT data_source_target1.idx) AS count_1
FROM data_source_target1
 LIMIT ? OFFSET ?
2021-09-09 10:55:16,287 INFO sqlalchemy.engine.Engine [generated in 0.00105s] (1, 0)
2021-09-09 10:55:16,289 INFO sqlalchemy.engine.Engine ROLLBACK

In [18]:
# CSV file for Data source 3 
file3_path = path_test + 'test_data_source3.csv'
file3_path

'../../../data/test/test_data_source3.csv'

In [19]:
# Data mapping for Data source 3
file3_map = path_test + 'test_data_source3.json'
file3_map

'../../../data/test/test_data_source3.json'

In [20]:
# Read 'test_data_source3.csv'
target_data_source2 = csvreader_obj.read_file(file3_path, file3_map, delimiter=',', chunk_size=10)

2021-09-09 10:55:21,552 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:55:21,554 INFO sqlalchemy.engine.Engine
CREATE TABLE data_source_target2 (
	idx INTEGER NOT NULL,
	data_source VARCHAR,
	isin VARCHAR,
	isvalid_isin BOOLEAN,
	lei VARCHAR,
	isvalid_lei BOOLEAN,
	sedol VARCHAR,
	isvalid_sedol BOOLEAN,
	company_name VARCHAR,
	original_company_name VARCHAR,
	country VARCHAR,
	country_alpha2 VARCHAR,
	country_alpha3 VARCHAR,
	original_country VARCHAR,
	PRIMARY KEY (idx)
)


2021-09-09 10:55:21,555 INFO sqlalchemy.engine.Engine [no key 0.00115s] ()
2021-09-09 10:55:21,577 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 10:55:21,586 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:55:21,594 INFO sqlalchemy.engine.Engine INSERT INTO data_source_target2 (data_source, isin, isvalid_isin, lei, isvalid_lei, sedol, isvalid_sedol, company_name, original_company_name, country, country_alpha2, country_alpha3, original_country) VALUES (?, NULL, NULL, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, NULL, NULL, NULL, NULL, NULL, NULL, ?, ?, ?, ?, ?, ?), (?, ?, ?, NULL, NULL, NULL, NULL, ?, ?, ?, ?, ?, ?), (?, ?, ?, NULL, NULL, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, NULL, NULL, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, NULL, NULL, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, NULL, NULL, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, NULL, NULL, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, NULL, NULL, ?, ?, ?, ?, ?, ?, ?, ?)
2021-09-09 10:55:21,596 INFO sqlalchemy.engine.Engine [no key 0.00187s] ('data_source_target2', '097900BHK10000084115', 1, '7108899', 1, 'honeydukes', 'HONEYDUKES', 'united states of america', 'us', 'usa', 'UNITED STATES', 'data_source_target2', 'starcourt mall', 'STARCOURT MALL', 'austria', 'at', 'aut', 'AUSTRIA', 'data_source_target2', 'CH0012221716', 1, 'bluth company', 'Bluth company', 'switzerland', 'ch', 'che', 'CHE', 'data_source_target2', 'US0200021014', 1, '2019952', 1, 'ingen', 'InGen', 'united states of america', 'us', 'usa', 'usa', 'data_source_target2', 'US0126531013', 1, '2046853', 1, 'spectre', 'SPECTRE', 'united states of america', 'us', 'usa', 'USA', 'data_source_target2', 'GB00B1YW4409', 1, 'B1YW440', 1, 'sterling cooper', 'STERLING COOPER', 'united kingdom of great britain and northern ireland', 'gb', 'gbr', 'GBR', 'data_source_target2', 'SK1120005824', 1, 'B1YW440', 1, 'central perk', 'CENTRAL PERK', 'slovakia', 'sk', 'svk', 'SK', 'data_source_target2', 'DE0005545503', 1, '5299003VKVDCUPSS5X23', 0, 'dunder mifflins', 'DUNDER MIFFLINS', 'germany', 'de', 'deu', 'Germany', 'data_source_target2', 'GB00B1YW4409', 1, 'B1YW440', 1, 'krusty krab', 'Krusty Kr~ab', 'united kingdom of great britain and northern ireland', 'gb', 'gbr', 'GBR')
2021-09-09 10:55:21,600 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 10:55:21,615 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:55:21,619 INFO sqlalchemy.engine.Engine SELECT count(DISTINCT data_source_target2.idx) AS count_1
FROM data_source_target2
 LIMIT ? OFFSET ?
2021-09-09 10:55:21,620 INFO sqlalchemy.engine.Engine [generated in 0.00147s] (1, 0)
2021-09-09 10:55:21,623 INFO sqlalchemy.engine.Engine ROLLBACK

## 3. Perform matching

In [21]:
matcher_obj = ExactMatcherDB('Matching_DS1_DS2',ref_data_source)

In [22]:
matcher_obj.add_target_data_sources(target_data_source)

In [23]:
matcher_obj.add_target_data_sources(target_data_source2)

In [24]:
matcher_obj.set_database_engine(sqlengine_obj)

In [25]:
matching_report_obj = matcher_obj.execute_matching('Matching_Table')

2021-09-09 10:56:46,921 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-09-09 10:56:46,922 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-09-09 10:56:46,928 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:56:46,930 INFO sqlalchemy.engine.Engine
CREATE TABLE "Matching_Table" (
	idx INTEGER NOT NULL,
	timestamp DATETIME DEFAULT (CURRENT_TIMESTAMP),
	"match" INTEGER,
	target_name VARCHAR,
	ref_name VARCHAR,
	isin VARCHAR,
	lei VARCHAR,
	company_name VARCHAR,
	country VARCHAR,
	sedol VARCHAR,
	ref_isin VARCHAR,
	ref_company_name VARCHAR,
	ref_country VARCHAR,
	PRIMARY KEY (idx)
)


2021-09-09 10:56:46,932 INFO sqlalchemy.engine.Engine [no key 0.00123s] ()
2021-09-09 10:56:46,954 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 10:56:46,957 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:56:46,959 INFO sqlalchemy.engine.Engine
CREATE TABLE "No_Matching_Table" (
	idx INTEGER NOT NULL,
	timestamp DATETIME DEFAULT (CURRENT_TIMESTAMP),
	target_name VARCHAR,
	isin VARCHAR,
	lei VARCHAR,
	company_name VARCHAR,
	country VARCHAR,
	sedol VARCHAR,
	PRIMARY KEY (idx)
)


2021-09-09 10:56:46,961 INFO sqlalchemy.engine.Engine [no key 0.00125s] ()
2021-09-09 10:56:46,977 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 10:56:46,983 INFO sqlalchemy.engine.Engine INSERT INTO "Matching_Table" (isin, lei, company_name, country, target_name, ref_isin, ref_company_name, ref_country, ref_name) SELECT data_source_target1.isin AS isin, data_source_target1.lei AS lei, data_source_target1.company_name AS company_name, data_source_target1.country AS country, data_source_target1.data_source AS target_name, data_source_ref.isin AS ref_isin, data_source_ref.company_name AS ref_company_name, data_source_ref.country AS ref_country, data_source_ref.data_source AS ref_name
FROM data_source_target1 JOIN data_source_ref ON data_source_target1.isin = data_source_ref.isin
2021-09-09 10:56:46,984 INFO sqlalchemy.engine.Engine [generated in 0.00119s] ()
2021-09-09 10:56:46,988 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 10:56:47,005 INFO sqlalchemy.engine.Engine UPDATE "Matching_Table" SET "match"=? WHERE "Matching_Table"."match" IS NULL
2021-09-09 10:56:47,006 INFO sqlalchemy.engine.Engine [generated in 0.00114s] (1,)
2021-09-09 10:56:47,009 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 10:56:47,026 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:56:47,028 INFO sqlalchemy.engine.Engine SELECT count(DISTINCT data_source_target1.idx) AS count_1
FROM data_source_target1
 LIMIT ? OFFSET ?
2021-09-09 10:56:47,029 INFO sqlalchemy.engine.Engine [cached since 90.74s ago] (1, 0)
2021-09-09 10:56:47,032 INFO sqlalchemy.engine.Engine ROLLBACK
2021-09-09 10:56:47,035 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:56:47,038 INFO sqlalchemy.engine.Engine SELECT count("Matching_Table".target_name) AS count_1
FROM "Matching_Table"
WHERE "Matching_Table".target_name = 'data_source_target1'
 LIMIT ? OFFSET ?
2021-09-09 10:56:47,041 INFO sqlalchemy.engine.Engine [generated in 0.00275s] (1, 0)
2021-09-09 10:56:47,046 INFO sqlalchemy.engine.Engine ROLLBACK
2021-09-09 10:56:47,050 INFO sqlalchemy.engine.Engine INSERT INTO "No_Matching_Table" (isin, lei, company_name, country, target_name) SELECT data_source_target1.isin AS isin, data_source_target1.lei AS lei, data_source_target1.company_name AS company_name, data_source_target1.country AS country, data_source_target1.data_source AS target_name
FROM data_source_target1 LEFT OUTER JOIN data_source_ref ON data_source_target1.isin = data_source_ref.isin
WHERE data_source_ref.isin IS NULL
2021-09-09 10:56:47,051 INFO sqlalchemy.engine.Engine [generated in 0.00098s] ()
2021-09-09 10:56:47,054 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 10:56:47,072 INFO sqlalchemy.engine.Engine INSERT INTO "Matching_Table" (isin, lei, sedol, company_name, country, target_name, ref_isin, ref_company_name, ref_country, ref_name) SELECT data_source_target2.isin AS isin, data_source_target2.lei AS lei, data_source_target2.sedol AS sedol, data_source_target2.company_name AS company_name, data_source_target2.country AS country, data_source_target2.data_source AS target_name, data_source_ref.isin AS ref_isin, data_source_ref.company_name AS ref_company_name, data_source_ref.country AS ref_country, data_source_ref.data_source AS ref_name
FROM data_source_target2 JOIN data_source_ref ON data_source_target2.isin = data_source_ref.isin
2021-09-09 10:56:47,074 INFO sqlalchemy.engine.Engine [generated in 0.00154s] ()
2021-09-09 10:56:47,080 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 10:56:47,137 INFO sqlalchemy.engine.Engine UPDATE "Matching_Table" SET "match"=? WHERE "Matching_Table"."match" IS NULL
2021-09-09 10:56:47,138 INFO sqlalchemy.engine.Engine [cached since 0.1331s ago] (1,)
2021-09-09 10:56:47,145 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 10:56:47,162 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:56:47,164 INFO sqlalchemy.engine.Engine SELECT count(DISTINCT data_source_target2.idx) AS count_1
FROM data_source_target2
 LIMIT ? OFFSET ?
2021-09-09 10:56:47,167 INFO sqlalchemy.engine.Engine [cached since 85.55s ago] (1, 0)
2021-09-09 10:56:47,175 INFO sqlalchemy.engine.Engine ROLLBACK
2021-09-09 10:56:47,178 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-09 10:56:47,180 INFO sqlalchemy.engine.Engine SELECT count("Matching_Table".target_name) AS count_1
FROM "Matching_Table"
WHERE "Matching_Table".target_name = 'data_source_target2'
 LIMIT ? OFFSET ?
2021-09-09 10:56:47,182 INFO sqlalchemy.engine.Engine [generated in 0.00131s] (1, 0)
2021-09-09 10:56:47,185 INFO sqlalchemy.engine.Engine ROLLBACK
2021-09-09 10:56:47,189 INFO sqlalchemy.engine.Engine INSERT INTO "No_Matching_Table" (isin, lei, sedol, company_name, country, target_name) SELECT data_source_target2.isin AS isin, data_source_target2.lei AS lei, data_source_target2.sedol AS sedol, data_source_target2.company_name AS company_name, data_source_target2.country AS country, data_source_target2.data_source AS target_name
FROM data_source_target2 LEFT OUTER JOIN data_source_ref ON data_source_target2.isin = data_source_ref.isin
WHERE data_source_ref.isin IS NULL
2021-09-09 10:56:47,191 INFO sqlalchemy.engine.Engine [generated in 0.00154s] ()
2021-09-09 10:56:47,197 INFO sqlalchemy.engine.Engine COMMIT

In [26]:
matcher_obj.execute_indirect_matching()

['target_name', 'isin', 'lei', 'company_name', 'country', 'sedol', 'ref_isin', 'ref_company_name', 'ref_country', 'ref_name']
{'target_name': Column('target_name', String(), table=<No_Matching_Table>), 'isin': Column('isin', String(), table=<No_Matching_Table>), 'lei': Column('lei', String(), table=<No_Matching_Table>), 'company_name': Column('company_name', String(), table=<No_Matching_Table>), 'country': Column('country', String(), table=<No_Matching_Table>), 'sedol': Column('sedol', String(), table=<No_Matching_Table>)}
{'ref_isin': Column('isin', String(), table=<Matching_Table>), 'ref_company_name': Column('company_name', String(), table=<Matching_Table>), 'ref_country': Column('country', String(), table=<Matching_Table>), 'ref_name': Column('target_name', String(), table=<Matching_Table>)}
['lei']
2021-09-09 11:00:01,875 INFO sqlalchemy.engine.Engine INSERT INTO "Matching_Table" (target_name, isin, lei, company_name, country, sedol, ref_isin, ref_company_name, ref_country, ref_name) SELECT "No_Matching_Table".target_name AS target_name, "No_Matching_Table".isin AS isin, "No_Matching_Table".lei AS lei, "No_Matching_Table".company_name AS company_name, "No_Matching_Table".country AS country, "No_Matching_Table".sedol AS sedol, "Matching_Table".isin AS ref_isin, "Matching_Table".company_name AS ref_company_name, "Matching_Table".country AS ref_country, "Matching_Table".target_name AS ref_name
FROM "No_Matching_Table" JOIN "Matching_Table" ON "No_Matching_Table".lei = "Matching_Table".lei
WHERE "Matching_Table"."match" = 1 AND "No_Matching_Table".target_name = 'data_source_target1'
2021-09-09 11:00:01,875 INFO sqlalchemy.engine.Engine [generated in 0.00093s] ()
2021-09-09 11:00:01,879 INFO sqlalchemy.engine.Engine COMMIT
{'ref_name': Column('ref_name', String(), table=<Matching_Table>), 'ref_isin': Column('ref_isin', String(), table=<Matching_Table>), 'ref_company_name': Column('ref_company_name', String(), table=<Matching_Table>), 'ref_country': Column('ref_country', String(), table=<Matching_Table>)}
2021-09-09 11:00:01,884 INFO sqlalchemy.engine.Engine INSERT INTO "Matching_Table" (target_name, isin, lei, company_name, country, sedol, ref_name, ref_isin, ref_company_name, ref_country) SELECT "No_Matching_Table".target_name AS target_name, "No_Matching_Table".isin AS isin, "No_Matching_Table".lei AS lei, "No_Matching_Table".company_name AS company_name, "No_Matching_Table".country AS country, "No_Matching_Table".sedol AS sedol, "Matching_Table".ref_name AS ref_name, "Matching_Table".ref_isin AS ref_isin, "Matching_Table".ref_company_name AS ref_company_name, "Matching_Table".ref_country AS ref_country
FROM "No_Matching_Table" JOIN "Matching_Table" ON "No_Matching_Table".lei = "Matching_Table".lei
WHERE "Matching_Table"."match" = 1 AND "No_Matching_Table".target_name = 'data_source_target1'
2021-09-09 11:00:01,885 INFO sqlalchemy.engine.Engine [generated in 0.00091s] ()
2021-09-09 11:00:01,887 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 11:00:01,890 INFO sqlalchemy.engine.Engine UPDATE "Matching_Table" SET "match"=? WHERE "Matching_Table"."match" IS NULL
2021-09-09 11:00:01,891 INFO sqlalchemy.engine.Engine [cached since 194.9s ago] (2,)
2021-09-09 11:00:01,895 INFO sqlalchemy.engine.Engine COMMIT
['lei']
2021-09-09 11:00:01,902 INFO sqlalchemy.engine.Engine INSERT INTO "Matching_Table" (target_name, isin, lei, company_name, country, sedol, ref_isin, ref_company_name, ref_country, ref_name) SELECT "No_Matching_Table".target_name AS target_name, "No_Matching_Table".isin AS isin, "No_Matching_Table".lei AS lei, "No_Matching_Table".company_name AS company_name, "No_Matching_Table".country AS country, "No_Matching_Table".sedol AS sedol, "Matching_Table".isin AS ref_isin, "Matching_Table".company_name AS ref_company_name, "Matching_Table".country AS ref_country, "Matching_Table".target_name AS ref_name
FROM "No_Matching_Table" JOIN "Matching_Table" ON "No_Matching_Table".lei = "Matching_Table".lei
WHERE "Matching_Table"."match" = 1 AND "No_Matching_Table".target_name = 'data_source_target2'
2021-09-09 11:00:01,903 INFO sqlalchemy.engine.Engine [generated in 0.00163s] ()
2021-09-09 11:00:01,907 INFO sqlalchemy.engine.Engine COMMIT
{'ref_name': Column('ref_name', String(), table=<Matching_Table>), 'ref_isin': Column('ref_isin', String(), table=<Matching_Table>), 'ref_company_name': Column('ref_company_name', String(), table=<Matching_Table>), 'ref_country': Column('ref_country', String(), table=<Matching_Table>)}
2021-09-09 11:00:01,925 INFO sqlalchemy.engine.Engine INSERT INTO "Matching_Table" (target_name, isin, lei, company_name, country, sedol, ref_name, ref_isin, ref_company_name, ref_country) SELECT "No_Matching_Table".target_name AS target_name, "No_Matching_Table".isin AS isin, "No_Matching_Table".lei AS lei, "No_Matching_Table".company_name AS company_name, "No_Matching_Table".country AS country, "No_Matching_Table".sedol AS sedol, "Matching_Table".ref_name AS ref_name, "Matching_Table".ref_isin AS ref_isin, "Matching_Table".ref_company_name AS ref_company_name, "Matching_Table".ref_country AS ref_country
FROM "No_Matching_Table" JOIN "Matching_Table" ON "No_Matching_Table".lei = "Matching_Table".lei
WHERE "Matching_Table"."match" = 1 AND "No_Matching_Table".target_name = 'data_source_target2'
2021-09-09 11:00:01,926 INFO sqlalchemy.engine.Engine [generated in 0.00156s] ()
2021-09-09 11:00:01,930 INFO sqlalchemy.engine.Engine COMMIT
2021-09-09 11:00:01,946 INFO sqlalchemy.engine.Engine UPDATE "Matching_Table" SET "match"=? WHERE "Matching_Table"."match" IS NULL
2021-09-09 11:00:01,947 INFO sqlalchemy.engine.Engine [cached since 194.9s ago] (2,)
2021-09-09 11:00:01,952 INFO sqlalchemy.engine.Engine COMMIT

In [27]:
matching_report_obj.print_report()

------------------------- REPORT ON MATCHING -------------------------
Report name: Matching_DS1_DS2
Description:
Datetime:2021-09-09 10:56:46
----------------------------------------------------------------------
Referential          Target               Coverage (%)
----------------------------------------------------------------------
data_source_ref      data_source_target1       50.00
data_source_ref      data_source_target2       66.67
----------------------------------------------------------------------

## 5. Drop Tables

In [ ]:
sqlengine_obj.drop_table(ref_data_source.table_obj)

In [ ]:
sqlengine_obj.drop_table(target_data_source.table_obj)

In [ ]:
sqlengine_obj.drop_table(target_data_source2.table_obj)

## 6. Close database connection

In [ ]:
sqlengine_obj.disconnect()